@import url("https://fonts.googleapis.com/css?family=Modak");
.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  } .nor{
    cursor: pointer;
  }
  a{
    font-size: 20px;
    margin-left: 200px;
    color: white;
  }
  #nav{ 
    margin-top: 2em;
    background-color: rgba(107, 2, 2, 0.632);
    border-radius: 10px;
    padding-bottom: 1em;
    padding-top: 1em;
    min-width: 100%;
    border: solid black;
 

  }
  .navbar-light .navbar-nav .nav-link:hover{
    color: black;
  }
  .navbar-light .navbar-nav .nav-link {
    color: white;
  }
  .nav-link:hover{
    background-color: rgb(222, 247, 255);
    border-radius: 3px;
    transform: scale(1);
    font-weight: bold;

  }
.jumbotron-fluid, .table-responsive{
  background-color: rgb(213, 250, 255);
  margin-bottom: 1%;

}
.nav{
    min-height: 100%;  
}
.label, .label-default{
  text-align: center;
  align-items: center;
  color: rgb(0, 0, 0);
  margin-left: 19em;
  font-size: 20px;
  background: transparent;
}
label{
  font-size: 18px;
}
input{
  height: 15%;
  width: 70%;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}
.alert, .alert-danger{
  margin-top: 5em; 
  width: 40%;
  text-align: center;
  margin-left: 50em;
  background: rgb(255, 101, 101);
  border-radius: 10px;
  border: solid rgb(111, 0, 0);
}
.button{
  width: 10%;
  font-size: 18px;
  margin-left: 38.5em;
  background-color: rgb(0, 95, 133);
  font-weight: bold;
  color: white;
  padding: 3px;
  margin-top: 30px;
  font-weight: 500;
}
.button:hover{
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.lab{
  color: black;
  font-size: 2em;
  margin-left: 43%;
}
.table, .table-bordered, .table-dark{
  font-size: 18px;
  border: solid black;
}
.button3{
  border: none;
  border-radius: 10px;
  padding: 7px;
  font-size: 18px;
  margin-top: 50px;
}
.button3:hover{
  background: rgb(0, 174, 255);
  font-weight: bold;  
}
.sm{
  border: none;
  border-radius: 10px;
  padding: 7px;
  font-size: 18px; 
  margin-top: 5px;
}
.sm:hover{
  background: rgb(0, 174, 255);
  border: solid white;
  font-weight: bold;  
}
.lol{
  text-align: center;
  color: white;
  font-size: 18px;
}
.lst{
  margin-left: 65em;
}
.hi{
  color: white;
  font-size: 18px;
}
.left{
  margin-left: 8em;
}
.ab{
  height: 28px;
}
.table{
  border: none;
}
.button4{
  border: none;
  border-radius: 10px;
  padding: 7px;
  font-size: 18px; 
  margin-top: 5px; 
  color: black;
}
.button4:hover{
  background: rgb(0, 174, 255);
}
#roles{
  border: none;
  border-radius: 10px;
}
select{
  border-radius: 5px;
  border: none;
  font-size: 18px;
}
.table, .table-bordered, .table-dark, .table-responsive{
  border: none;
  border: solid black;
}
th{
  border: none;  
}
.thead{
  border: 1px white;
  margin: 6px;
}
@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}


h2{
  font-family: Bahnschrift;
  font-size: 4em;
  color: white;
  padding-top: 15px;
}
.table-responsive{
  background: rgba(124, 195, 242, 0.696);
  border: none;
}