<div class="container">
  <h2>Account Management</h2>
  <nav class="nav navbar-expand-lg navbar-light">

     
      
    <div  id="nav" >
        <div class="navbar-nav" >
   
            <a  (click)="showAddStaff()" class="nav-item nav-link nor" *ngIf="this.ADDactive != true">Add</a>
            <a  (click)="showAddStaff()" class="nav-item nav-link nor active" *ngIf="this.ADDactive == true">Add</a>
            <a  (click)="showStaff()" class="nav-item nav-link nor" *ngIf="this.staffactive != true">Staff table</a>
            <a  (click)="showStaff()" class="nav-item nav-link active nor" *ngIf="this.staffactive == true">Staff table</a>
            <a  (click)="showclient()"class="nav-item nav-link nor" *ngIf="this.cleintactive != true">Client table</a>
            <a  (click)="showclient()"class="nav-item nav-link nor active" *ngIf="this.cleintactive == true">Client table</a>
   
        </div>



</div>
</nav>
    <div class="jumbotron jumbotron-fluid table-responsive" *ngIf="this.ADDactive == true">
        <h3> <span class="label label-default">ADD STAFF</span>  </h3>
 
        <form  class="left"#addadmin="ngForm" (ngSubmit)="admin(addadmin.value)" >
            <div class="row">
         <div class="column">
            
            <label >First Name</label><br>
            <input ngModel name="fname" type="text" ><br>
            <label >Last Name</label><br>
            <input ngModel name='lname' type="text" ><br>
            <label >User Name</label><br>
            <input ngModel name='username' type="text" ><br>
            <label hidden>Password</label><br>
            <input ngModel hidden name='password' type="password" class="name" readonly  [ngModel]="defultpassword"><br>    
        </div>
        <div class="column">
            <label >Email</label><br>
            <input ngModel name='email' type="text" ><br>
            <label >Gender</label><br>

            <select #roles  id="set" ngModel name="set"  >
                <option disabled selected value default> -- select an option -- </option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                
              </select>	<br>
            <label >Jobtitle</label><br>
            <select #roles id="role" ngModel name="role"  >
                <option disabled selected value default> -- select an option -- </option>
                <option value="Staff">Staff</option>
                <option value="Delivery">Delivery</option>

                
              </select>	<br>
            <label >Phone number</label><br>
            <input  type="text" [(ngModel)]="phonenumber" name="phonenumber"  id="phonenumber"  (input)="handleInput($event)"  maxlength="10" (keypress)="validateInput($event)" class="input" >
            <br>    
        </div>
    </div><br>
                    
              
                  
                    
        <input type="submit" class="button" name="submit" value="ADD">
        </form>
    </div>

    <div class="jumbotron jumbotron-fluid table-responsive scrollable" *ngIf="this.staffactive == true">
        <h3> <span class="lab">STAFF</span>  </h3>
        <table class="table table-bordered table-dark">
            <thead >
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>                
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Gender</th>
                <th scope="col">Email</th>
                <th scope="col">Phone number</th>                
                <th scope="col">activity</th>
                <th scope="col">Job title</th>
                <th scope="col">Action</th>

              </tr>
            </thead>
            <tbody *ngFor="let z of account | async;let i = index">
              <tr  *ngIf= "z">
                <th scope="row">{{z.id}}</th>
                <td >{{z.username}}</td>                
                <td >{{z.firstname}}</td>
                <td >{{z.lastname}}</td>
                <td >{{z.gender}}</td>                
                <td >{{z.Email}}</td>
                <td >{{z.phonenumber}}</td>
                <td *ngIf="z.activity == true">online</td>
                <td *ngIf="z.activity != true">offline</td> 
                <td >{{z.jobtitle}}</td>
                <td ><button class="button4" (click)="getstuff(z)" *ngIf="z.username != this.iid">Update</button></td>
              </tr>

            </tbody>
          </table>
    </div>
    <div class="jumbotron jumbotron-fluid table-responsive scrollable" *ngIf="this.cleintactive == true">
      <h3> <span class="lab">CLIENT</span>  </h3>
      <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>                
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th scope="col">Gender</th>
              <th scope="col">Email</th>
              <th scope="col">Phone number</th>                
              <th scope="col">activity</th>
              <th scope="col">Address</th>

            </tr>
          </thead>
          <tbody *ngFor="let y of client | async">
            <tr  *ngIf= "y">
              <th scope="row">{{y.id}}</th>
              <td>{{y.username}}</td>                
              <td>{{y.firstname}}</td>
              <td>{{y.lastname}}</td>
              <td>{{y.gender}}</td>                
              <td>{{y.Email}}</td>
              <td>{{y.phonenumber}}</td>
              <td *ngIf="y.activity == true">online</td>
              <td *ngIf="y.activity != true">offline</td> 
              <td>{{y.address}}</td>
            </tr>

          </tbody>
        </table>
  </div>
  <div class="jumbotron jumbotron-fluid table-responsive" *ngIf="this.editstuff == true">
    <h3 class="lol"> <span>Update Staff</span>  </h3>
    <!-- <span class="label label-default">{{ususername}}</span>  -->
    <form  class="left" >
        <div class="row">
     <div class="column">
        
        <label class="hi">First Name</label><br>
        <input class="ab" ngModel name="fname" type="text" [(ngModel)]="usfirstname"><br>
        <label class="hi"[(ngModel)]="usfirstname">Last Name</label><br>
        <input class="ab" ngModel name='lname' type="text" [(ngModel)]="uslastname"><br>
        <label class="hi"[(ngModel)]="ususername">Username</label><br>
        <input class="ab" ngModel name='username' type="text" [(ngModel)]="ususername"><br>
        <label class="hi">phone number</label><br>
        <input class="ab" ngModel name='phonenumber' type="number"[(ngModel)]="usphonenumber" ><br>  
    </div>
    <div class="column">
        <label class="hi">Email</label><br>
        <input class="ab" ngModel name='email' type="text" [(ngModel)]="usemail"><br>
        <label class="hi">Gender</label><br>

        <input class="ab" ngModel name='Gender' type="text" [(ngModel)]="usgender"readOnly> <br><button (click)="changegender()" class="sm" >change</button><br>
        <label class="hi">Jobtitle</label><br>
        <input class="ab" ngModel name='Jobtitle' type="text" [(ngModel)]="usnamejobtitle" readonly><br> <button   (click)="changejob()" class="sm"   >change</button><br>
  
    </div>
</div>

                
          
              
<div class="lst">            
                <button  class="button3"   style="margin-right: 20px;"(click)="updatestaff()">Update</button>
                <button  class="button3" nastyle="margin-left: 20px;margin-right: 20px;"(click)="deletestaff()">Delete</button>
                <button  class="button3" style="margin-left: 20px;" (click)="backupdatestaff()">Back</button>
</div>      
              </form>
</div>
</div>


<app-custom-confirm-dialog *ngIf="showDialog"
(confirm)="onConfirmed()"
(cancel)="onCancelled()"
></app-custom-confirm-dialog>