@import url("https://fonts.googleapis.com/css?family=Modak");
.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  } .nor{
    cursor: pointer;
  }
  a{
    font-size: 20px;
    margin-left: 200px;
    color: white;
  }
  #nav{ 
    background-color: rgb(255, 255, 255);
    padding-bottom: 1%;
    min-width: 100%;
 

  }
  .navbar-light .navbar-nav .nav-link:hover{
    color: black;
  }
  .navbar-light .navbar-nav .nav-link {
    color: black;
    background-color: rgb(134, 181, 251);
    text-align: center;
    padding: 3%;

  }
  .navbar-light .navbar-nav .nav-link:hover{
    background-color: rgb(104, 104, 104);
    color: white;

  }
.jumbotron-fluid, .table-responsive{
  background-color: rgb(255, 255, 255);
  margin-bottom: 1%;

}
.nav{
    min-height: 100%;  
}
.label, .label-default{
  color: rgb(0, 0, 0);
  margin-left: 43%;
  font-size: 20px;
  background: transparent;
}
label{
  font-size: 18px;
}
input{
  height: 15%;
  width: 70%;
  border: none;
  border-radius: 8px;
  font-size: 18px; 
  background-color: rgb(226, 225, 225);
}
.button{
  width: 10%;
  font-size: 18px;
  margin-left: 75%;
  background-color: rgb(134, 181, 251);
  font-weight: bold;
  color: black;
  padding: 3px;
  margin-top: 30px;
  font-weight: 500;
  margin-bottom: 2%;
}
.button:hover{
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.lab{
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-left: 45%;
}
.table, .table-bordered, .table-dark{
  font-size: 15px;
  border: solid black;
}
.button3{
  border: none;
  border-radius: 10px;
  padding: 7px;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 3%;
  background-color: rgb(205, 204, 204);
}
.button3:hover{
  background: rgb(0, 0, 0);
  color: white; 
}
.sm{
  border: none;
  border-radius: 10px;
  padding: 7px;
  font-size: 18px; 
  margin-top: 5px;
  background-color: rgb(134, 181, 251);
}
.sm:hover{
  background: rgb(0, 0, 0);
  border: solid white;
  color: white;
}
.lol{
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.hi{
  color: black;
  font-size: 18px;
}
.left{
  margin-left: 8em;
}
.ab{
  height: 28px;
}
.table{
  border: none;
}
.button4{
  border: none;
  border-radius: 10px;
  padding: 7px;
  font-size: 18px; 
  margin-top: 5px; 
  color: black;
  background-color: rgb(134, 181, 251);
}
.button4:hover{
  background: rgb(0, 0, 0);
  color: white
}
#roles{
  border: none;
  border-radius: 10px;
}
select{
  border-radius: 5px;
  border: none;
  font-size: 18px;
  background-color: rgb(226, 225, 225);
}
.table, .table-bordered, .table-dark, .table-responsive{
  padding-left: 4%;
  padding-right: 4%;
  border: solid black;
}
th{
  border: none;  
  background-color:  rgb(84, 84, 84);
  color: white;
}
.thead{
  border: 1px white;
  margin: 6px;
}
@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
td{
  background-color: white;
  color: black;
}

h2{
  font-family: Bahnschrift;
  font-size: 4em;
  color: white;
  padding-top: 15px;
}
.table-responsive{
  background: rgb(255, 255, 255);
  border: none;
}
option{
  background-color: rgb(255, 255, 255);
}
hr{
  border: 1px solid rgb(135, 135, 135);
}
/* Mobile-first design: Default styles for small screens */
@media screen and (max-width: 768px) {
  /* Adjust navigation menu */
  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    text-align: center;
    margin: 5px 0;
  }

  /* Adjust column layout */
  .column {
    flex: 100%;
  }

  /* Adjust font sizes and margins */
  a {
    font-size: 16px;
    margin-left: 0;
  }

  label {
    font-size: 16px;
    margin-left: 0;
  }

  input,
  select {
    width: 100%;
  }

  /* Adjust other elements as needed */
  .button {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }

  .button4 {
    width: 100%;
    margin-top: 10px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    padding: 20px; /* Add some padding for better mobile viewing */
  }
}

/* Larger screens */
@media screen and (min-width: 769px) {
  /* Reset any mobile-specific styles */


  /* Adjust font sizes and margins */
  a {
    font-size: 20px;

  }

  label {
    font-size: 18px;

  }

  /* Reset input width for larger screens */
  input,
  select {
    width: 70%;
  }

  /* Reset button width for larger screens */
  .button {
    width: 10%;

  }

  .button4 {
    width: auto;
  }
}

