/* Set the container to occupy the full height of the viewport */
.container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Center the cards within the container */
.d-flex.cc {
    display: flex;
    justify-content: center;

}

/* Apply styles to the cards */
.card {
    background-color: #005d6b;
    padding: 40px; /* Increase the padding to make the box even bigger */
    margin: 30px; /* Increase the margin for more space between cards */
    border-radius: 15px; /* Increase the border radius for more rounded corners */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Adjust the box shadow for a more prominent effect */

}

/* Increase the font size for the headers and paragraphs inside the cards */
h2 {
    font-size: 28px;
    color: white;
}

p {
    font-size: 22px;
    color: white;
}

.arrow {
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  .arrow-left {
    height: 2em;
    width: 2em;
  }
  .arrow-right {
 height: 2em;
 width: 2em;
  }
  .number {
    font-size: 18px;
    font-weight: bold;
    margin-left:1em ;
    margin-right: 1em;
  }
  @font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
  .mint{
    /* color: rgb(0, 78, 212); */
    font-size: 4em;
    font-family: 'Rocher';
    font-weight: bolder;
    margin-left: 90px;
    flex-direction: column;
    padding-top: 15px;
  }
  
  @font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
  }
  
  .mint {
    font-palette: --Mint;
  }