
   
   <h2 class="title">Sales Management</h2>
    <br>
    <div class="text-center" *ngIf="graphshow">
          <button class="btn btn-primary umm" (click)="edittime()">Update Pricing</button>
    </div> 
    <br>
    <div class="text-center" *ngIf="graphshow">
        <button class="btn btn-primary umm" (click)="tabletime()">Show sales history</button>
  </div>
  <div class="text-center" *ngIf="table">
    <button class="btn btn-primary umm" (click)="closetable()">Show sales history</button>
  </div>
  <div class="kk">
  <hr>
<br>

    <h2 class="title1"> Good day, <br>Here are your Point of Sales</h2><br>

    <div class="container" *ngIf="graphshow">

    <div class="d-flex cc">
        <div class="card">
            <div class="arrow">
               <!-- date-picker.component.html -->


                <div class="number"> <input type="date" [(ngModel)]="currentDate" (change)="onDateSelected()" class="custom-date-input"></div>
               
            </div>
                 <h2>Daily Income and Transact</h2>
            <div  *ngFor="let q of daily | async;">
             <div  *ngIf= "q && getFormattedDate() == q.currentday">
       
            <p><strong>Income:</strong> ₱{{q.income}}</p>
            <p><strong>Transact:</strong> {{q.sales}}</p>
              </div>
            </div>
        </div>
    <div class="card">
        <div class="arrow">
            <div class="btn" (click)="minusweek()"><img class="arrow-left" src="https://cdn-icons-png.flaticon.com/256/271/271220.png"></div>
            <div class="number"(click)="toggleDropdown()"> Week {{currentweek}}</div>
            <div class="btn"  (click)="addweek()"><img class="arrow-right" src="https://cdn-icons-png.flaticon.com/256/271/271228.png"></div>

            <div class="dropdown" [ngStyle]="{'display': isDropdownVisible ? 'block' : 'none'}">
                <ul>
                    <li *ngFor="let week of weeks" (click)="selectWeek(week)">Week {{week}}</li>
                </ul>
            </div>
            
        </div>
             <h2>Weekly Income and Transact</h2>
        <div  *ngFor="let l of week | async;">
         <div  *ngIf= "l && currentweek == l.currentWeekNumber">
   
        <p><strong>Income:</strong> ₱{{l.income}}</p>
        <p><strong>Transact:</strong> {{l.sales}}</p>
          </div>
        </div>
    </div>
    <div class="card">
        <div class="arrow">
            <div class="btn" (click)="minusyear()"><img class="arrow-left" src="https://cdn-icons-png.flaticon.com/256/271/271220.png"></div>
            <div class="number"> Year {{currentyear}}</div>
            <div class="btn" (click)="addyear()"><img class="arrow-right" src="https://cdn-icons-png.flaticon.com/256/271/271228.png"></div>
          </div>
        <h2>Yearly Income and Transact</h2>
        <div  *ngFor="let y of year | async;">
            <div  *ngIf= "y && currentyear == y.currentyear">
         <p><strong>Income:</strong> ₱{{y.income}}</p>
         <p><strong>Transact:</strong> {{y.sales}}</p>
        </div>
    </div>
    </div>
</div>

</div>
<hr>
</div>
<div class="container"  *ngIf="graphshow">
    <app-sales-graph></app-sales-graph>
</div>
<div class="container"  *ngIf="editshow">



    <form>
      <h2 style="color: black; text-align: center; font-size: 30px;">UPDATE PRICING</h2>
       <input type="number" name="pricing" [(ngModel)]="defultkilo"><div class ="textt">Kilo per pack</div><br>
       <input type="number" name="kilo" [(ngModel)]="defultpricing"><div class="textt">Php per pack</div><br>
        <button class="btn btn-primary" style="background-color: green; color: white;" type="button" (click)="updatepricing()">Update</button>
        <button class="btn btn-danger" type="button" (click)="cacel()">Cancel</button>
    </form>

</div>

<div class="container" *ngIf="table">

    <div class="jumbotron  table-responsive scrollable"  >
        <h3> <span class="">Logs</span>  </h3>
        <table class="table table-bordered ">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Client Username</th>  
           

          

                <th scope="col">Time & Date</th>


         <th scope="col">Transac by</th>  
                <th scope="col">Payed Amount</th>
                               
           

              </tr>
            </thead>
            <tbody *ngFor="let z of logs | async;">
              <tr  *ngIf= "z">
                <th scope="row">{{z.transacitonid}}</th>
                <td>{{z.username}}</td>    
                         

      

                <td>{{z.time +" "+ z.date}}</td>


    
            

                <td>{{z.transacby}}</td>
          <td>{{"+"+z.payed}}</td>

              </tr>
     
            </tbody>
            
          </table>
    </div>
</div>