/* Set the container to occupy the full height of the viewport */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Center the cards within the container */
.d-flex.cc {
    display: flex;
    justify-content: center;

}

.card {
  background: rgba(124, 195, 242, 0.696);
    padding: 40px; 
    margin: 10px 30px 30px 30px; 
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 

}

/* Increase the font size for the headers and paragraphs inside the cards */
h2 {
    font-size: 18px;
    color: white;
}

p {
    font-size: 18px;
    color: white;
    font-family: Bahnschrift;
}

.arrow {
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  .arrow-left {
    height: 2em;
    width: 2em;
  }
  .arrow-right {
 height: 2em;
 width: 2em;
  }
  .number {
    font-size: 18px;
    font-weight: bold;
    margin-left:1em ;
    margin-right: 1em;
    font-family: Bahnschrift;
  }
.title{
    font-family: Bahnschrift;;
    font-size: 4em;
    color: white;
    padding-top: 10px;
    padding-left: 65px;
  }
  .umm{
    background-color: rgb(0, 32, 137);
    font-size: 18px;
    font-family: Bahnschrift;
    }
/* styles.css */
.custom-date-input {
  appearance: textfield;
  -webkit-appearance: textfield; /* For Safari */
  -moz-appearance: textfield; /* For Firefox */
  width: 200px; /* Adjust the width as needed */
  padding: 5px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Add a border if desired */
  border-radius: 5px; /* Add border-radius for rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
color: black;
  font-family: Bahnschrift;
  font-size: 100%;
  font-weight: bold;
}
