/* Set the container to occupy the full height of the viewport */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 20px; /* Add some padding for better mobile viewing */

}

/* Center the cards within the container */
.d-flex.cc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: rgb(134, 180, 255);
  padding: 20px; /* Reduce padding for better mobile viewing */
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  flex: 1; /* Make the cards flexible to fit the screen */
  max-width: 400px; /* Limit the maximum width for larger screens */
}

/* Increase the font size for the headers and paragraphs inside the cards */
h2, p {
  font-size: 16px; /* Adjust font size for better mobile viewing */
}

/* Adjust the arrow and number styles */
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.arrow-left, .arrow-right {
  height: 1.5em; /* Adjust arrow size for better mobile viewing */
  width: 1.5em;
}

.number {
  font-size: 16px;
  font-weight: bold;
  margin: 0.5em;
  font-family: Bahnschrift;
}

/* Adjust the title style */
.title {
  font-size: 2em; /* Adjust font size for better mobile viewing */
  padding-top: 10px;
  padding-left: 10px; /* Adjust padding for better mobile viewing */
}

/* Adjust the custom date input style */
.custom-date-input {
  width: 100%; /* Make the input full width on mobile screens */
  padding: 10px;
  font-size: 16px;
}

/* Adjust the dropdown style */
.dropdown {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  color: black;
  max-height: 160px;
  overflow-y: auto;
  width: 100%; /* Make the dropdown full width on mobile screens */
}

/* Style the dropdown to appear on hover */
.number:hover + .dropdown,
.dropdown:hover {
  display: block;
  cursor: pointer;
}
@media (max-width: 768px) {
  .d-flex.cc {
      flex-direction: column;
  }
}
.btn{
font-size: 200%;
}
.title1{
text-align: center; 
font-size: 250%; 
color: white;
}
hr{
  border-top: 2px solid white; 
  margin-right: 3%; 
  margin-left: 3%;
}
@media (max-width: 768px) {
  .title1 {
      color: black;
  }
  hr{
    border-top: 1px solid black;
  }
}