
   
   <h2 class="title">Sales Management</h2>
    <br>
    <div class="text-center" *ngIf="graphshow">
          <button class="btn btn-primary umm" (click)="edittime()">Update Pricing</button>
    </div>
    <h2 style="text-align: center; font-size: 2em;"> Good day, <br>Here are your Point of Sales</h2><br>
<div class="container" *ngIf="graphshow">

    <div class="d-flex cc">
        <div class="card">
            <div class="arrow">
               <!-- date-picker.component.html -->


                <div class="number"> <input type="date" [(ngModel)]="currentDate" (change)="onDateSelected()" class="custom-date-input"></div>
               
            </div>
                 <h2>Daily Income and Transact</h2>
            <div  *ngFor="let q of daily | async;">
             <div  *ngIf= "q && getFormattedDate() == q.currentday">
       
            <p><strong>Income:</strong> ₱{{q.income}}</p>
            <p><strong>Transact:</strong> {{q.sales}}</p>
              </div>
            </div>
        </div>
    <div class="card">
        <div class="arrow">
            <div class="btn" (click)="minusweek()"><img class="arrow-left" src="https://cdn-icons-png.flaticon.com/256/271/271220.png"></div>
            <div class="number"(click)="toggleDropdown()"> Week {{currentweek}}</div>
            <div class="btn"  (click)="addweek()"><img class="arrow-right" src="https://cdn-icons-png.flaticon.com/256/271/271228.png"></div>

            <div class="dropdown" [ngStyle]="{'display': isDropdownVisible ? 'block' : 'none'}">
                <ul>
                    <li *ngFor="let week of weeks" (click)="selectWeek(week)">Week {{week}}</li>
                </ul>
            </div>
            
        </div>
             <h2>Weekly Income and Transact</h2>
        <div  *ngFor="let l of week | async;">
         <div  *ngIf= "l && currentweek == l.currentWeekNumber">
   
        <p><strong>Income:</strong> ₱{{l.income}}</p>
        <p><strong>Transact:</strong> {{l.sales}}</p>
          </div>
        </div>
    </div>
    <div class="card">
        <div class="arrow">
            <div class="btn" (click)="minusyear()"><img class="arrow-left" src="https://cdn-icons-png.flaticon.com/256/271/271220.png"></div>
            <div class="number"> Year {{currentyear}}</div>
            <div class="btn" (click)="addyear()"><img class="arrow-right" src="https://cdn-icons-png.flaticon.com/256/271/271228.png"></div>
          </div>
        <h2>Yearly Income and Transact</h2>
        <div  *ngFor="let y of year | async;">
            <div  *ngIf= "y && currentyear == y.currentyear">
         <p><strong>Income:</strong> ₱{{y.income}}</p>
         <p><strong>Transact:</strong> {{y.sales}}</p>
        </div>
    </div>
    </div>
</div>
</div>
<div class="container text-dark"  *ngIf="editshow">



    <form  class="align-justify">
        <h1 style="font-weight: bold;">
       <input type="number" name="pricing" [(ngModel)]="defultkilo">Kilo per pack<br>
       <input type="number" name="kilo" [(ngModel)]="defultpricing">Php per pack
        </h1>
        <button class="btn btn-primary" type="button" (click)="updatepricing()">Update</button>
        <button class="btn btn-danger" type="button" (click)="cacel()">Cancel</button>
    </form>

</div>