@import url("https://fonts.googleapis.com/css?family=Modak");
.about{
    background: url('aboutwallpaper1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    column-count: 2;
    padding-top: 1em;
 
  }

  .logo{
    height: 40em;
    width: 60em;
    margin-top: 10em;
    border: solid rgb(210, 126, 0);
    border-width: 2em;
    border-radius: 10%;
    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

.button-35 {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    font-family: Inter,sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    outline: none;
    padding: 1rem 1.2rem;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 3em;
  }
  

.button-35:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
  }
  .desc{
    font-size: 1.75em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 1px;
    text-align: justify;
    margin-right: 3em;
    margin-left: 2em;
  }
  .title2{
    padding-top: 6%;
    font-size: 500%;
    margin-right: 2em;
    font-family: Modak;
    margin-left: 2em;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: calc(50vh - 100px);
    text-shadow: 2px 2px #c4c4c469; 
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(254, 36, 36), rgb(0, 61, 94));
  }
  .title3{
    font-size: 750%;
    margin-right: 2em;
    font-family: Modak;
    margin-left: 2em;
    background-clip: text;
     -webkit-background-clip: text; 
    text-shadow: linear-gradient(rgb(255, 0, 0), rgb(0, 166, 255));     
    color: transparent;
    margin-top: calc(50vh - 100px);
    text-shadow: 2px 2px #c4c4c469; 
    /* background-color: red; For browsers that do not support gradients */
    background-image: linear-gradient(rgb(254, 36, 36), rgb(0, 61, 94));

  }
.hey{
    column-count: 2;
    column-gap: 20px;
    /* margin-left: -250px; */
    background: url('aboutwallpaper2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    column-count: 2;
    /* padding-top: 1em; */
 
    top: 0px;
    
}
.desc1{
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 1px;
    text-align: center;

}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Fira Code', monospace;
  /* width: 100%; */
  height: 100%;
  font-size: 16px;

}

main {
  display: flex;
  height: 100%;
}

.process {
  cursor: pointer;
  /* position: relative;
  display: inline-block; */
  font-size: 7rem;
  background: linear-gradient(to bottom, #004577, #000000 60%,  #004577 100%, #004577 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  transition: background 0.2s ease-out;
  white-space: nowrap;
  word-spacing: 3em;
  text-align: center;
  font-weight: bold;
}

.title4{
  text-align: center;
  margin-right: 3em;
  margin-top: 1em;
  font-family: Modak;
  font-size: 600%;
  background-clip: text;
   -webkit-background-clip: text; 
  text-shadow: linear-gradient(rgb(255, 0, 0), rgb(0, 166, 255));     
  color: transparent;
  text-shadow: 2px 2px #c4c4c469; 
  background-image: linear-gradient(rgb(254, 36, 36), rgb(0, 61, 94));
}
span {
  position: relative;
  margin-bottom: 10em;
  text-align: center;
}

span:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 15px;
  background: #00406d;
  bottom: 9px;
  transition: all 0.2s ease-out;
}

.process:hover {
  background-position: 0 11px;
}

span:hover:before {
  transform: translateY(10px)
}
.numb{
  font-size: 5em;
 margin-left: 45px;
 padding-right: 5px;
}
.extra{
  margin-right: 6em;
  word-spacing: 30px;
}