
    <div class="d-flex hey">
<div >
    <h1 class="title3"> WHERE ARE WE AT?</h1>
    <p class="desc1">Old Albay District, Legazpi City, Albay</p>
</div>

 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3885.376896885315!2d123.73507237427071!3d13.138609887192288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a103db0255e54f%3A0x5ea2be58a855ef6a!2sI.M.%20CAFE%20%26%20LAUNDROMAT!5e0!3m2!1sen!2sph!4v1689648064011!5m2!1sen!2sph" width="600" height="450" style="border: solid rgb(0, 102, 130); border-radius: 20px; margin-top: 7em; margin-right: 70px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="contact">
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <h1 class="title5">For more inquiries</h1>
    <p class="det"> 0970 625 3602<br>      
        marksteve.delacruz@gmail.com <br><br>
        Our Social Media:<br>
    <button class="button-35" role="button" routerLink="/about" style="border-radius: 50%; padding: 0; height: 80px; width: 80px; "><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png" style="height: 80px; width: 80px; border-radius: 50%;  margin: 0;"></button>
    </p>


</div>