<div class="about">

    <img class="logo" src="https://scontent.fceb2-2.fna.fbcdn.net/v/t39.30808-6/292140887_121820047224694_5356490335233650823_n.jpg?_nc_cat=100&cb=99be929b-3346023f&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeFlmCpBqR5wAQaNq-g9mPPQ0FKdBEJQE3rQUp0EQlATeqPZQZiomI6wM2_Vg9Nrpo6RZCG6IusTgAST5IZV2Ynt&_nc_ohc=fnNtsM2QjTQAX9qE6N7&_nc_ht=scontent.fceb2-2.fna&oh=00_AfAmlY2reydVPIF1Z0PAO5btZUD0uonV9RpjOfOL2IlyvQ&oe=64AEC183">
    <h1 class="title2">"Experience the Refreshing Spin: Where Dirty Meets Clean!" </h1><br>
    <p class="desc">
        Welcome to IM Cafe and Laundromat, where convenience and comfort meet in one vibrant space. We are proud to offer a unique fusion of two essential services - a cozy café and a modern laundromat, all under one roof.        
        At IM Cafe and Laundromat, we understand the demands of a fast-paced lifestyle and the need to optimize your time. Whether you're a busy professional, a student on-the-go, or a local resident looking for a place to 
        unwind, our establishment is designed to cater to your diverse needs.<br><br> <button class="button-35" role="button" routerLink="/about">View More</button></p>


    </div>
