<div class="container" style="padding-top:6em;">
  <!-- <div class="process-nav">
  <a (click)="DeliveryPickup()">Delivery Pick up</a>
  <a (click)="processing()">Processing</a>
  <a (click)=" wasing()">Washing</a>
  <a (click)="Readydd()">Ready for Delivery</a>
  <a (click)=" Readypp() ">Ready for Pick up</a>
</div> -->
<!-- pickup delivery rider -->
<div   *ngFor="let a of pickup | async">

     
    <div class="jumbotron jumbotron-fluid " *ngIf="a && eid == a.username">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70" style="font-size: 20px;"
        aria-valuemin="0" aria-valuemax="100" style="width:5%">
       5%
        </div>
    
      </div>
       <div style="font-size: 20px;">Coming to your location for pickup</div>
      <details class=" ">  
        <summary class="sumsum">
          Laundry Number: {{a.id}}
                  </summary>
                  <h2><strong>Pickup Location:</strong> {{a.address}}</h2>
       
                  <h2><strong>Contact Information:</strong></h2>
                  <ul>
                      <li><h2>Name:</h2> <h3>{{a.name}}</h3></li>
                      <li><h2>Phone Number:</h2> <h3>{{a.phonenumber}}</h3></li>
                      <li><h2>Instructions:</h2> <h3>{{a.for}}</h3></li>
                  </ul>
                
                  <h2><strong>Laundry Number:</strong> {{a.id}}</h2>
        </details>   
          </div>
</div>
<!-- Processing tracking -->
<div  *ngFor="let b of laundry | async">

    <div  class="jumbotron jumbotron-fluid " *ngIf="b && eid == b.username && b.status == 'processing'">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70" style="font-size: 20px;"
        aria-valuemin="0" aria-valuemax="100" style="width:25%">
       25%
        </div>
    
      </div>
       <div style="font-size: 20px;">Your clothes are in the laundromat</div>
        <details class=" ">  
          <summary class="sumsum">
            Laundry Number: {{b.id}}
                    </summary>
                    <h2><strong>Pickup Location:</strong> {{b.address}}</h2>
                    <h2><strong>Item Details:</strong>Kilo: {{b.kilo}}, pack:{{b.pack}}</h2>
                    <h2><strong>Contact Information:</strong></h2>
                    <ul>
                        <li><h2>Name:</h2><h3> {{b.name}}</h3></li>
                        <li><h2>Phone Number:</h2> <h3>{{b.phonenumber}}</h3></li>
                        <li><h2>Instructions:</h2><h3> {{b.for}}</h3></li>
                    </ul>
                    <h2><strong>Total amout to pay:</strong>₱{{b.total}}</h2>
                    <h2><strong>Status:</strong>{{b.status}}</h2>
                    <h2><strong>Laundry Number:</strong> {{b.id}}</h2>
          </details>    
          </div>
</div>
<!-- washing tracking -->
<div *ngFor="let b of laundry | async" >

  <div class="jumbotron jumbotron-fluid "  *ngIf="b && eid == b.username && b.status == 'washing'">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" style="font-size: 20px;"
      aria-valuemin="0" aria-valuemax="100" style="width:50%">
     50%
      </div>
  
    </div>
     <div style="font-size: 20px;">Your clothes are being washed</div>
      <details class=" " >  
        <summary class="sumsum">
          Laundry Number: {{b.id}}
                  </summary>
                  <h2><strong>Pickup Location:</strong> {{b.address}}</h2>
                  <h2><strong>Item Details:</strong>Kilo: {{b.kilo}}, pack:{{b.pack}}</h2>
                  <h2><strong>Contact Information:</strong></h2>
                  <ul>
                      <li><h2>Name:</h2> <h3>{{b.name}}</h3></li>
                      <li><h2>Phone Number:</h2> <h3>{{b.phonenumber}}</h3></li>
                      <li><h2>Instructions:</h2> <h3>{{b.for}}</h3></li>
                  </ul>
                     <h2><strong>Total amout to pay:</strong>₱{{b.total}}</h2>
                  <h2><strong>Status:</strong>{{b.status}}</h2>
                  <h2><strong>Laundry Number:</strong> {{b.id}}</h2>
        </details>    
        </div>
</div>
<!-- Ready for Delivery -->
<div  *ngFor="let c of delivery | async" >

  <div class="jumbotron jumbotron-fluid "  *ngIf="c && eid == c.username">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" style="font-size: 20px;"
      aria-valuemin="0" aria-valuemax="100" style="width:75%">
     75%
      </div>
  
    </div>
    <div style="font-size: 20px;">  Your clothes are ready for delivery.</div>
      <details class=" ">  
        <summary class="sumsum">
          Laundry Number: {{c.id}}
                  </summary>
                  <h2><strong>Pickup Location:</strong> {{c.address}}</h2>
                  <h2><strong>Item Details:</strong>Kilo: {{c.kilo}}, pack:{{c.pack}}</h2>
                  <h2><strong>Contact Information:</strong></h2>
                  <ul>
                      <li><h2>Name:</h2><h3>{{c.name}}</h3> </li>
                      <li><h2>Phone Number:</h2><h3>{{c.phonenumber}}</h3> </li>
                    
                  </ul>
                     <h2><strong>Total amout to pay:</strong>{{c.total}}</h2>
                  <h2><strong>Status:</strong>{{c.status}}</h2>
                  <h2><strong>Laundry Number:</strong> {{c.id}}</h2>
        </details>    
        </div>
</div>
<!-- pickup -->
<div *ngFor="let d of customerpickup | async">

  <div class="jumbotron jumbotron-fluid "   *ngIf="d && eid == d.username">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" style="font-size: 20px;"
      aria-valuemin="0" aria-valuemax="100" style="width:75%">
     75%
      </div>
  
    </div>
    <div style="font-size: 20px;">  Your clothes are ready for pickup</div>
      <details class=" ">  
        <summary class="sumsum">
          Laundry Number: {{d.id}}
                  </summary>
                  <h2><strong>Pickup Location:</strong> {{d.address}}</h2>
                  <h2><strong>Item Details:</strong>Kilo: {{d.kilo}}, pack:{{d.pack}}</h2>
                  <h2><strong>Contact Information:</strong></h2>
                  <ul>
                      <li><h2>Name:</h2><h3>{{d.name}}</h3> </li>
                      <li><h2>Phone Number:</h2><h3>{{d.phonenumber}}</h3> </li>
                    
                  </ul>
                     <h2><strong>Total amout to pay:</strong>{{d.total}}</h2>
                  <h2><strong>Status:</strong>{{d.status}}</h2>
                  <h2><strong>Laundry Number:</strong> {{d.id}}</h2>
        </details>    
        </div>
</div>
</div>