.process-nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.process-nav a {
    display: inline-block;
    padding: 10px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.process-nav a:hover {
    background-color: #ddd;
}
.sumsum{
    font-size: 2em;
    font-weight: bold;
}