.process-nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.process-nav a {
  display: inline-block;
  padding: 10px;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
}
.process-nav a:hover {
  background-color: #ddd;
} 
.progress-bar{
  height: 20px;
}
.progress{
  height: 20px;
}
.sumsum{
  font-size: 2em;
  font-weight: bold;
}
.scrollable{
  background-color: white;
  padding: 2%;
  margin-bottom: 2%;
  border-radius: 8px;
}
td{
  color: black;
  background-color: rgb(255, 255, 255);
}
h1{
  margin-left:6%;
  font-size: 4em;
  color: #201f1f;
  padding-top: 7px;
}
.table{
  font-size: 16px;
}
.container{
  margin-top: -50px;
}
.ww{
  background: url(../../assets/image/minimalistt.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
th{
  background-color: rgb(202, 108, 0);
}

@media screen and (max-width: 768px) {
.ww{
  height: 180vh;
 }
h1{
  padding-top: 4%;
  text-align: center;
  font-size: 30px;
}
}
.search {
  width: 100%;

  display: flex;
  
}

.searchTerm {
  width: 100%;
  border: 3px solid #000000;
  border-right: none;
  padding: 5px;
  height: 37px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000000;
  font-size: 25px;
}

.searchTerm:focus{
  color: #000000;
}

.searchButton {
  width: 50px;
  height: 36px;
  border: 1px solid #000000;
  background: #000000;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
th{
  color: white;
  font-size: 14px;
  }
  td{
  font-size: 14px;
  }