<div class="ww">
<h1>Laundry Status</h1>
<div class="container" style="padding-top:6em;">

<!-- pickup delivery rider -->
<div class=" jumbotron-fluid  " *ngIf="!eid">
  <div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" [(ngModel)]="seachname" placeholder="Type The Tracking No.">
       <button  class="searchButton"(click)="clearseachname()">Clear</button>
    </div>
 </div>
        


</div>
<div   *ngFor="let a of pickup | async">
  <div class=" jumbotron-fluid table-responsive scrollable"*ngIf="a && eid == a.username || seachname == a.id ">
    <h3> <span class="lab">Coming to your location for pickup</span>  </h3>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" style="font-size: 20px;"
      aria-valuemin="0" aria-valuemax="100" style="width:5%">
     5%
      </div>
  
    </div>
    <table class="table table-bordered table-dark">
        <thead >
          <tr>
            <th scope="col">Laundry Number</th>
            <th scope="col">Instructions</th>                
            <th scope="col">Booked on </th>
            <th scope="col">Contact</th>
            <th scope="col">Address</th>



          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row">{{a.id}}</th>
            <td >{{a.for}}</td>                
            <td >{{a.time}} {{a.date}} </td>  
            <td >{{a.phonenumber}}</td>  
            <td >{{a.address}}</td>  
          </tr>

        </tbody>
      </table>
</div>

   
</div>
<!-- Processing tracking -->
<div  *ngFor="let b of laundry | async">
  <div class=" jumbotron-fluid table-responsive scrollable" *ngIf="b && eid == b.username && b.status == 'processing' || seachname == b.id">
    <h3> <span class="lab">Your clothes are in the laundromat</span>  </h3>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" style="font-size: 20px;"
      aria-valuemin="0" aria-valuemax="100" style="width:25%">
     25%
      </div>
  
    </div>
    <table class="table table-bordered table-dark">
        <thead >
          <tr>
            <th scope="col">Laundry Number</th>
            <th scope="col">Instructions</th>                
            <th scope="col">status</th>
            <th scope="col">kilo</th>
            <th scope="col">packs</th>
            <th scope="col">total</th>
            <th scope="col">Booked on</th>



          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row">{{b.id}}</th>
            <td >{{b.for}}</td>                
            <td >{{b.status}}</td>  
            <td >{{b.kilo}}</td>  
            <td >{{b.pack}}</td>  
            <td >{{b.total}}</td>  
            <td >{{b.time}} {{b.date}} </td>  
          </tr>

        </tbody>
      </table>
</div>
  
</div>
<!-- washing tracking -->
<div *ngFor="let b of laundry | async" >
  <div class=" jumbotron-fluid table-responsive scrollable"*ngIf="b && eid == b.username && b.status == 'washing' || seachname == b.id">
    <h3> <span class="lab">Your clothes are being washed</span>  </h3>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" style="font-size: 20px;"
      aria-valuemin="0" aria-valuemax="100" style="width:50%">
     50%
      </div>
  
    </div>
    <table class="table table-bordered table-dark">
        <thead >
          <tr>
            <th scope="col">Laundry Number</th>
            <th scope="col">Instructions</th>                
            <th scope="col">status</th>
            <th scope="col">kilo</th>
            <th scope="col">packs</th>
            <th scope="col">total</th>
            <th scope="col">Booked on</th>



          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row">{{b.id}}</th>
            <td >{{b.for}}</td>                
            <td >{{b.status}}</td>  
            <td >{{b.kilo}}</td>  
            <td >{{b.pack}}</td>  
            <td >{{b.total}}</td>  
            <td >{{b.time}} {{b.date}} </td>  
          </tr>

        </tbody>
      </table>
</div>

</div>
<!-- Ready for Delivery -->
<div  *ngFor="let c of delivery | async" >
  <div class=" jumbotron-fluid table-responsive scrollable"*ngIf="c && eid == c.username || seachname == c.id">
    <h3> <span class="lab">Your clothes are ready to be deliver to your area.</span>  </h3>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" style="font-size: 20px;"
      aria-valuemin="0" aria-valuemax="100" style="width:75%">
     75%
      </div>
  
    </div>
    <table class="table table-bordered table-dark">
        <thead >
          <tr>
            <th scope="col">Laundry Number</th>
           
            <th scope="col">status</th>
            <th scope="col">kilo</th>
            <th scope="col">packs</th>
            <th scope="col">total</th>
            <th scope="col">Booked on</th>



          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row">{{c.id}}</th>
            
            <td >{{c.status}}</td>  
            <td >{{c.kilo}}</td>  
            <td >{{c.pack}}</td>  
            <td >{{c.total}}</td>  
            <td >{{c.time}} {{c.date}} </td>  
          </tr>

        </tbody>
      </table>
</div>
 
</div>
<!-- pickup -->
<div *ngFor="let d of customerpickup | async">
  <div class=" jumbotron-fluid table-responsive scrollable" *ngIf="d && eid == d.username || seachname == d.id">
    <h3> <span class="lab">Your clothes are ready for pickup.</span>  </h3>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" style="font-size: 20px;"
      aria-valuemin="0" aria-valuemax="100" style="width:75%">
     75%
      </div>
  
    </div>
    <table class="table table-bordered table-dark">
        <thead >
          <tr>
            <th scope="col">Laundry Number</th>
               
            <th scope="col">status</th>
            <th scope="col">kilo</th>
            <th scope="col">packs</th>
            <th scope="col">total</th>
            <th scope="col">Booked on</th>



          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row">{{d.id}}</th>
              
            <td >{{d.status}}</td>  
            <td >{{d.kilo}}</td>  
            <td >{{d.pack}}</td>  
            <td >{{d.total}}</td>  
            <td >{{d.time}} {{d.date}} </td>  
          </tr>

        </tbody>
      </table>
</div>
</div>
</div>
</div>