
::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #4c4c6a;
    border-radius: 2px;
  }
  .chatbox {
     max-width: calc(100% - 60px);
      height: 550px;
      max-height: 600px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
          margin-left: auto;
          border-radius: 3%;
  }
  .chat-window {
      flex: auto;
      max-height: calc(100% - 60px);
      background-image: url("chat.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
      overflow: auto;
  }
  .chat-input {
      flex: 0 0 auto;
      height: 60px;
      background: white;
      border-top: 1px solid #2671ff;
      box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  }
  .chat-input input {
      height: 59px;
      line-height: 60px;
      outline: 0 none;
      border: none;
      width: calc(100% - 60px);
      color: rgb(0, 0, 0);
      text-indent: 10px;
      font-size: 12pt;
      padding: 0;
      background: #ffffff;
  }
  .chat-input button {
      float: right;
      outline: 0 none;
      border: solid rgb(168, 168, 168);
      background-color: rgb(156, 211, 247);
      height: 40px;
      width: 40px;
      border-radius: 50%;
      padding: 2px 0 0 0;
      margin: 10px;
      transition: all 0.15s ease-in-out;
  }
  .chat-input input[good] + button {
      box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
      background: #2671ff;
  }
  .chat-input input[good] + button:hover {
      box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .chat-input input[good] + button path {
      fill: white;
  }
  .msg-container {
      position: relative;
      display: inline-block;
      width: 100%;
      margin: 0 0 10px 0;
      padding: 0;

    
  }
  .msg-box {
      display: flex;
      background: #456c5f;
      padding: 10px 10px 0 10px;
      border-radius: 0 6px 6px 0;
      max-width: 50em;
      width: 40em;
      float: left;
      box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  }
  .user-img {
      display: inline-block;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      background: #ffffff;
      margin: 0 10px 10px 0;
  }
  .flr {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      width: calc(100% - 50px);
  }
  .messages {
      flex: 1 0 auto;
  }
  .msg {
      display: inline-block;
      font-size: 11pt;
      line-height: 13pt;
      color: rgba(255, 255, 255, 0.982);
      margin: 0 0 4px 0;
  }
  .msg:first-of-type {
      margin-top: 8px;
  }
  .timestamp {
      color: rgba(255, 255, 255, 0.658);
      font-size: 8pt;
      margin-bottom: 10px;
  }
  .username {
      margin-right: 3px;
  }
  .posttime {
      margin-left: 3px;
  }
  .msg-self .msg-box {
      border-radius: 6px 0 0 6px;
      background: #d78914;
      float: right;
  }
  .msg-self .user-img {
      margin: 0 0 10px 10px;
  }
  .msg-self .msg {
      text-align: right;
  }
  .msg-self .timestamp {
      text-align: right;
  }
  .container{
    margin-top: 10px;
  
  }
  .badge{
    font-size: 200%;
    background-color: #ffffff;
    color: black;
  }
  @font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }

  .mint{
    /* color: rgb(0, 78, 212); */
    font-size: 5em;
    font-family: 'Rocher';
    font-weight: bolder;
    flex-direction: column;
    margin-left: 2em;
    padding-top: 15px;
  }
  .paddinnator{

    padding:-15px;
  }
  
  @font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
  }
  
  .mint {
    font-palette: --Mint;
  }
  .usern{
    font-size: 2.5em;
    margin-left: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ayokona{
    background-color: rgba(46, 113, 134, 0.642);
  }
  
  .mint {
    font-palette: --Mint;
  }
  .usern{
    font-size: 2.5em;
    margin-left: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ayokona{
    background-color: rgba(46, 113, 134, 0.642);
  }
  .adminchatlist{
width: 30em;
max-height: calc(100% - 60px);
height: 100%;
background-color: white;
  }
  .marginator{
    margin: 0;
    padding: 0;
  }
  .under-h1 {
    border: none;
    border-top: 2px solid;
    width: 80%;
    margin: 10px auto;
  }
