
<div class="container">
<div class="login-wrap">
	<div class="login-html">		

		<h1 class="title">IM CAFE AND LAUNDROMAT</h1><hr><br>
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>

		<div class="login-form">
			<form class="sign-in-htm" #testLogin="ngForm" (ngSubmit)="login(testLogin.value)">
				<div class="group">		<br><br>
					<label for="user" class="label">Username</label>
					<input name="username" ngModel id="username"  type="text" class="input" placeholder="Enter your username">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<div class="input-container">
				
					<input  type="password" class="input" placeholder="Enter your password"
                    [type]="show ? 'text' : 'password'" name="password" ngModel id="password">
						<button class="passwordbutton" type="button" (click)="showpassword()">
                        <i class='	fa fa-eye ' *ngIf="show == true" style="font-size: 2em;"></i>
                        <i class='	fa fa-eye-slash ' *ngIf="show == false"  style="font-size: 2em;"></i>
            
                    </button>
                  </div>
				</div>
				<div class="group">
                    <label for="tab-2" class="label">Don't have an Account? <a for="tab-2">Sign Up</a></label> 
				</div>

					<input type="submit" class="button" value="Sign In">


			</form>
			<form class="sign-up-htm" #signn="ngForm" (ngSubmit)="signup(signn.value)">
				<div class="group">

					<div [hidden]="s1">
					<label for="fname" class="label" >First name</label>
					<input name="fname" ngModel id="fname" type="text" class="input" [(ngModel)]="fname" placeholder="Enter your firstname">
					<label for="lname" class="label">last name</label>
					<input name="lname" ngModel id="lname" type="text" class="input" [(ngModel)]="lname" placeholder="Enter your lastname">
			
					<label for="username" class="label">Username</label>
					<input name="username" ngModel id="username" type="text" class="input" [(ngModel)]="username" placeholder="Enter your username">
			
					<label for="email" class="label">Email Address (Optional)</label>
					<input name="email" ngModel id="email" type="text" class="input" [(ngModel)]="email" placeholder="Enter your email(optional)">
			
					<label for="phonenumber" class="label">phone number</label>
					<input  type="text" [(ngModel)]="phonenumber" name="phonenumber"  id="phonenumber"  (input)="handleInput($event)"  maxlength="10" (keypress)="validateInput($event)" class="input"  placeholder="Enter your phonenumber start at 9 max of 10 character">
			
							</div>

							<div [hidden]="s2 ">

					<label for="address" class="label">Current Address</label>
					<input name="address" ngModel id="address"  type="text" class="input" [(ngModel)]="address" placeholder="Street, House #, City or Bording House address">
			       
                        <label for="password" class="label">Password</label>
						<div class="input-container">
                         
					
					<input  [type]="show ? 'text' : 'password'" name="password" ngModel id="password" [(ngModel)]="ccpassword" type="password" class="input"  placeholder="Enter your password">
			   <button class="passwordbutton" type="button" (click)="showpassword()">
                    <i class='	fa fa-eye ' *ngIf="show == true" style="font-size: 2em;"></i>
                    <i class='	fa fa-eye-slash ' *ngIf="show == false"  style="font-size: 2em;"></i>
        
                </button>
					</div>


					<label for="cpassword" class="label">Confirm Password</label>
					<div class="input-container">
				
					<input  [type]="show ? 'text' : 'password'" name="cpassword" ngModel id="cpassword" [(ngModel)]="cccpassword" class="input"  placeholder="Re-enter your password">
                 	<button class="passwordbutton" type="button" (click)="showpassword()">
					<i class='	fa fa-eye ' *ngIf="show == true" style="font-size: 2em;"></i>
					<i class='	fa fa-eye-slash ' *ngIf="show == false"  style="font-size: 2em;"></i>

					</button>
					</div>
					
					
					<label for="ara " class="label">Gender</label>
                    <select class="um" #roles name="set"  id="set" ngModel name="set"  [(ngModel)]="set">
                        <option disabled selected value default> -- select an option -- </option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        
                      </select>	
				</div>


				</div>

			
					<button class="button"  type="button" [hidden]="s2" (click)="back()">back</button>	 <br>

			
					<input type="submit"  *ngIf="s2 == false && fname  !== '' && lname   !== '' && username  !==''    && phonenumber != '' && address != '' && ccpassword != '' && cccpassword != '' && set != '' " class="button" value="Sign Up"> <br *ngIf="s2 == false && fname  !== '' && lname   !== '' && username  !==''    && phonenumber != '' && address != '' && ccpassword != '' && cccpassword != '' && set != '' " >
		
                    <label for="tab-1" class="label1">Already a member? <a for="tab-1">Login</a></label> <br>

					<button class="button"  type="button"  *ngIf="s1 == false && fname  !== '' && lname   !== '' && username  !==''  && phonenumber != '' " (click)="next()">Next</button>
			</form>

		</div>
	</div>
</div>
</div>

<!-- bug test -->
