

   .body1{
    font:600 16px/18px 'Open Sans',sans-serif;

   }
  .log{
    border-radius: 50%;
    height: 400px;
    width: 100px;
    margin-left: 7em;
    margin-top: 7em;
  }
  *,:after,:before{box-sizing:border-box}
  .clearfix:after,.clearfix:before{content:'';display:table}
  .clearfix:after{clear:both;display:block}
  a{color:black;text-decoration:none}
  
/* Default styles for larger screens */
.login-wrap {
  margin-top: 2%;
  border-radius: 5px;
  display: contents;
  min-width: 10%;
  min-height: 50%;
  position: relative;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.login-html {
  width: 40%;
  height: 90%;
  padding: 15px 70px 60px 40px;
  background: url('../../assets/image/drop.png');
  background-size: cover;
  border-radius: 5px;
  margin-top: 5%;
}

/* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media screen and (max-width: 768px) {
  .login-wrap {
    width: 90%; /* Adjust the width to fit smaller screens */
    margin-top: 10px; /* Add space at the top for better spacing */
  }

  .login-html {
    width: 103%; /* Make it full width on smaller screens */
    padding: 15px; /* Adjust padding for smaller screens */padding: 15px 15px 55px 10px;
    margin-top: 0; /* Remove top margin on smaller screens */
  }
}

  .login-html .sign-in-htm,
  .login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
    
  }
  .login-html .sign-in,
  .login-html .sign-up,
  .login-form .group .check{
    display:none;
    margin-top: 2px;

  }
  .login-html .tab,
  .login-form .group .label,
  .login-form .group .button{
    text-transform:uppercase;


  }
  .login-html .tab{
    font-size:22px;
    margin-top: -20px;
    margin-left: 60px;
    display:inline-block;
    border-bottom:2px solid transparent;

  }
  .login-html .sign-in:checked + .tab,
  .login-html .sign-up:checked + .tab{
    color:black;
    border-color:#1161ee;
  }
  .login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
  }
  .login-form .group{
    margin-bottom:15px;
  }
  .login-form .group .label,
  .login-form .group .input,
  .login-form .group .button{
    width:100%;
    color: black;
    display:block;
    font-size: 15px;
  }
  .login-form .group .input,
  .login-form .group .button{
    border:none;
    padding:8px 10px;
    border-radius:25px;
    background:rgba(214, 214, 214, 0.79);
  }
  .login-form .group input[data-type="password"]{
    text-security: circle;
    -webkit-text-security:circle;
  }
  .login-form .group .label{
    color: black;
    font-size: 13px;
    font-family: Bahnschrift;
    text-align: left;
    padding-top: 2px;
    margin-top: 6px;
  }
  .label1{
    color: black;
    font-size: 13px;
    font-family: Bahnschrift;
    text-align: center;
    padding-top: 5px;
  }
 .button{
    margin: 0;
    background:#2c547d;   
  border: none;
  text-align: center;
  font-size: 20px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-top: -2em;
  float: right;
  margin-right: 8px;
  }

   .button:hover{
    background: rgb(0, 0, 0);
    color:  white  ;
    font-weight: bold;
  }
  .login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
  }
  .login-form .group label .icon:before,
  .login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    /* background:#fff; */
    position:absolute;
    transition:all .2s ease-in-out 0s;
  }
  .login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
  }
  .login-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
  }
  .login-form .group .check:checked + label{
    color:#2f3292;
  }
  .login-form .group .check:checked + label .icon{
    background:#1161ee;
  }
  .login-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
  }
  .login-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
  }
  .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform:rotate(0);
  }
  .login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform:rotate(0);
  }

  .hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
  }
  .foot-lnk{
    text-align:center;
  }
  .passwordbutton{
  background-color: rgb(123, 176, 255);
  color: #ffffff;
  border: transparent;
}
.um{
  background:rgba(214, 214, 214, 0.79);
  height: 2em;
  border-radius: 50px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
}

.input-container {
  position: relative;
  display: inline-block;
    width: 100%;
}

.input-container input {
  padding-right: 40px; /* Adjust the padding to make space for the button */
}

.input-container button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  outline: none;

}
.title{
  font-family: Bahnschrift;
  text-align: center;
  font-weight: bolder;
}
.fa{
  color: black;
}

