<p>login-signup works!</p>
<form #testLogin="ngForm" (ngSubmit)="login(testLogin.value)" >
    <label>login</label><br>
    <input type="text" placeholder="username" name="username" ngModel id="username"><br>
    <input type="submit" value="login"> 



</form>

<br><br><br><br><br><br><br><br><br><br><br>
<form #signn="ngForm" (ngSubmit)="signup(signn.value)" >
    <label>signup</label><br>
    <input type="text" placeholder="username" name="username" ngModel id="username"><br>
    <input type="password" placeholder="password" name="password" ngModel id="password"><br>
    <input type="password" placeholder="Confirm password" name="cpassword" ngModel id="cpassword"><br>
    <input type="text" placeholder="first name" name="fname" ngModel id="fname"><br>
    <input type="text" placeholder="last name" name="lname" ngModel id="lname"><br>
    <input type="text" placeholder="email" name="email" ngModel id="email"><br>
    <input type="text" placeholder="address" name="address" ngModel id="address"><br>
    <input type="text" placeholder="phonenumber - 09**********" name="phonenumber" ngModel id="phonenumber"><br>
    <select #roles name="set"  id="set" ngModel name="set"  >
        <option disabled selected value default> -- select an option -- </option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>	<br>
    <input type="submit" value="signup"> 



</form>
