<div class="vv">
<div class="container1">
<h2 class="qq"> Laundry Tracker</h2>

    <nav class="nav navbar-expand-lg navbar-light text-white" style="margin-top: -1em;" *ngIf="nav == true">

     
      
          <div id="nav" >
              <div class="navbar" >
         
                  <a  (click)="showPK()" class=" item " *ngIf="this.PKactive != true">Delivery Pick up</a>
                  <a  (click)="showPK()" class="item active " *ngIf="this.PKactive == true">Delivery Pick up</a>
                  <a  (click)="addLa()"class="item" *ngIf="this.addLactive != true"> Add laundry</a>
                  <a  (click)="addLa()"class="item active" *ngIf="this.addLactive == true">Add laundry</a>
                  <a  (click)="showW()" class="item item2" *ngIf="this.Wactive != true">Wash</a>
                  <a  (click)="showW()" class="item item2" *ngIf="this.Wactive == true">Wash</a>
                  <a  (click)="showD()"class="item item3" *ngIf="this.Dactive != true">Delivery</a>
                  <a  (click)="showD()"class="item item3 active" *ngIf="this.Dactive == true">Delivery</a>
                  <a  (click)="showpick()"class="item" *ngIf="this.Pickupactive != true"> Client Pick up</a>
                  <a  (click)="showpick()"class="item active" *ngIf="this.Pickupactive == true">Client Pick up</a>

              </div>



      </div>
  </nav>


    <div class="jump table-responsive scrollable"  *ngIf="this.PKactive == true">
        <h3> <span class="">Pick up</span>  </h3>
        <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>  
                <th scope="col">Name</th>              
                <th scope="col">Booked Time</th>
                <th scope="col">Booked Date</th>
                <th scope="col">Phone number</th>           
                <th scope="col">Address</th>
                <th scope="col">Mode of distribution</th>
                <th scope="col">update</th>

              </tr>
            </thead>
            <tbody *ngFor="let z of pickup | async;">
              <tr  *ngIf= "z">
                <th scope="row">{{z.id}}</th>
                <td>{{z.username}}</td>    
                <td style="background-color: rgb(212, 212, 212);">{{z.name}}</td>                            
                <td>{{z.time}}</td>  
                <td style="background-color: rgb(212, 212, 212);">{{z.date}}</td> 
                <td>{{z.phonenumber}}</td>
                <td style="background-color: rgb(212, 212, 212);">{{z.address}}</td>
                <td>{{z.for}}</td>
                <td style="background-color: rgb(212, 212, 212);"><button class="btn btn-primary" (click)="getupdate(z)">update</button></td>

              </tr>
     
            </tbody>
            
          </table>
    </div>

    <div class="jump table-responsive scrollable"*ngIf="this.Wactive == true">
        <h3> <span class="">Wash</span>  </h3>
        <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>  
                <th scope="col">Name</th>              
                <th scope="col">Payment Status and Method</th>
                <th scope="col">Booked Time</th>
                <th scope="col">Booked Date</th>
                <th scope="col">Mode of distribution</th>
                <th scope="col">Status</th>
                <th scope="col">Kilo/s</th>
                <th scope="col">Number of pack/s</th>
                <th scope="col">Total due</th>
                <th scope="col">Update</th>
              </tr>
            </thead>
            <tbody *ngFor="let q of laundry | async;">
              <tr  *ngIf= "q">
                <th scope="row">{{q.id}}</th>
                <td>{{q.username}}</td>    
                <td  style="background-color: rgb(212, 212, 212);">{{q.name}}</td>                            
                <td *ngIf="q.paymentStatus != q.paymentMethod">{{q.paymentStatus}}-{{q.paymentMethod}}</td>  
                <td *ngIf="q.paymentStatus == q.paymentMethod">{{q.paymentStatus}}</td>  
                <td style="background-color: rgb(212, 212, 212);">{{q.time}}</td>
                <td>{{q.date}}</td>
                <td style="background-color: rgb(212, 212, 212);">{{q.for}}</td>
                <td>{{q.status}}</td>
                <td  style="background-color: rgb(212, 212, 212);">{{q.kilo}}</td>
                <td >{{q.pack}}</td>
                <td  style="background-color: rgb(212, 212, 212);">₱{{q.total}}.00</td>
                <td ><button class="btn btn-primary" (click)="getLaundry(q)">update</button></td>
              </tr>
     
            </tbody>
            
          </table>
    </div>


    <div class="jump table-responsive scrollable" *ngIf="this.Dactive == true">
      <h3> <span class="">Delivery</span>  </h3>
      <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>  
              <th scope="col">Name</th>              
              <th scope="col">Payment Status and Method</th>
              <th scope="col">Booked Time</th>
              <th scope="col">Booked Date</th>           
              <th scope="col">Phone number</th> 
              <th scope="col">Address</th>
              <th scope="col">Kilo/s</th>
              <th scope="col">Number of pack/s</th>
              <th scope="col">Notal due</th>
              <th scope="col">Delivered</th>
            </tr>
          </thead>
          <tbody *ngFor="let d of deliverylist | async;let i = index">
            <tr  *ngIf= "d">
              <th scope="row">{{d.id}}</th>
              <td >{{d.username}}</td>    
              <td style="background-color: rgb(212, 212, 212);">{{d.name}}</td>                            
              <td *ngIf="d.paymentStatus != d.paymentMethod">{{d.paymentStatus}}-{{d.paymentMethod}}</td>  
              <td  *ngIf="d.paymentStatus == d.paymentMethod">{{d.paymentStatus}}</td>  
              <td style="background-color: rgb(212, 212, 212);">{{d.time}}</td> 
              <td>{{d.date}}</td>
              <td style="background-color: rgb(212, 212, 212);">{{d.phonenumber}}</td>
              <td>{{d.address}}</td>
              <td style="background-color: rgb(212, 212, 212);">{{d.kilo}}</td>
              <td>{{d.pack}}</td>
              <td style="background-color: rgb(212, 212, 212);">{{d.total}}</td>
              <td><button class="btn btn-primary" (click)="cdedivered(d)">Delivered</button></td>
            </tr>
   
          </tbody>
          
        </table>
  </div>

  <div class="jump " *ngIf="this.PUactive == true">

    <h3> <span class="">Update</span>  </h3>
    <hr>
    <form  class="left"#addadmin="ngForm" (ngSubmit)="update(addadmin.value)" >
        <div class="row">
     <div class="column">
        
        <label>Pick Up ID#</label><br>
        <input class="mm" ngModel name="pickupid" type="text" readonly [ngModel]="upid"><br>
        <label>Username</label><br>
        <input class="mm" ngModel name='username' type="text" readonly [ngModel]="upusername"><br>
        <label>Customer Name</label><br>
        <input class="mm" ngModel name='name' type="text" readonly [ngModel]="upname"><br>
        <label>User ID</label><br>
        <input class="mm" ngModel name='userid' type="text" readonly [ngModel]="upuid"><br>    
    </div>
    <div class="column">
        <label>Phone  Number</label><br>
        <input class="mm" ngModel name='phonenumber' type="number" readonly [ngModel]="upphonenumber"><br>
        <label>Address</label><br>
        <input class="mm" ngModel name='address' type="text" readonly [ngModel]="upadress"><br>
        <label>Mode of distribution </label><br>
        <input class="mm" ngModel name='to' type="text" readonly [ngModel]="upfor"><br>
        <label>clothes kilo</label><br>
        <input class="mm" ngModel name='kilo' type="number" ><br>  
        <label>Payment Status and Method</label><br>
        <label><input type="radio" [(ngModel)]="paymentMethod" name="paymentMethod" value="unpaid">Unpaid &nbsp;</label><br> 
        <label><input type="radio" [(ngModel)]="paymentMethod" name="paymentMethod" value="gcash">Paid - Gcash</label><br> 
        <label><input type="radio" [(ngModel)]="paymentMethod" name="paymentMethod" value="cash">Paid - Cash</label><br>  
    </div>
</div>
        
          
              
     <div class="btn3">           
                <input type="submit" class="btn btn-primary" name="submit" value="Update"><button class="cancelbtn btn btn-danger" (click)="cancelupdate()">Cancel</button>
     </div>
              </form>
</div>




<div class="jump " *ngIf="this.WUactive == true">

  <h3> <span class="">Update</span>  </h3>
  <hr>
  <form  class="left">
      <div class="row">
   <div class="column">
      
      <label>Pick Up ID#</label><br>
      <input class="mm" ngModel name="pickupid" type="text" readonly [ngModel]="laid"><br>
      <label>Username</label><br>
      <input class="mm" ngModel name='username' type="text" readonly [ngModel]="lausername"><br>
      <label>Customer Name</label><br>
      <input class="mm" ngModel name='name' type="text" readonly [ngModel]="laname"><br>
      <label>User ID</label><br>
      <input class="mm" ngModel name='userid' type="text" readonly [ngModel]="lauid"><br>    
  </div>
  <div class="column">
      <label >Status</label><br>
      <input class="mm" ngModel name='phonenumber' type="text" readonly [ngModel]="lastatus"><br>
      <label >number of packs</label><br>
      <input class="mm" ngModel name='address' type="text" readonly [ngModel]="lapack"><br>
      <label >Kilo of clothes</label><br>
      <input class="mm" ngModel name='to' type="text" readonly [ngModel]="lakilo"><br>
      <label >Total price</label><br>
      <input class="mm" ngModel name='kilo' type="text" readonly [ngModel]="laprice"><br>  
      <label>Payment Status and Method</label><br>
      <label><input type="radio" [(ngModel)]="paymentMethod" name="paymentMethod" value="unpaid">Unpaid &nbsp;</label><br> 
      <label><input type="radio" [(ngModel)]="paymentMethod" name="paymentMethod" value="gcash">Paid - Gcash</label><br> 
      <label><input type="radio" [(ngModel)]="paymentMethod" name="paymentMethod" value="cash">Paid - Cash</label><br>   
  </div>
</div>
      
        
            
<div class="btn3">            
<button class="cancelbtn btn btn-danger" (click)="cancellaupdate()">Cancel</button>
<input type="submit" class="btn btn-primary " name="submit" value="Washing" (click)="updatewashing()" *ngIf='lastatus == "processing"'>
<input type="submit" class="btn btn-success " name="submit" value="Pick-up" *ngIf='lafor == "Pick up at the shop"' (click)="readyforpickup()">
<input type="submit" class="btn btn-success " name="submit" value="Deliver"*ngIf='lafor == "Delivery to Address"' (click)="readyfordelivery()">
</div>    
</form>
</div>


<div class="jump table-responsive scrollable"*ngIf="this.Pickupactive == true">
  <h3> <span class="">Customer Pickup</span>  </h3>
  <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>  
          <th scope="col">Name</th>              
          <th scope="col">Payment Status and Methods</th>
          <th scope="col">Phone number</th>
          <th scope="col">Booked Time</th>           
          <th scope="col">Booked Date</th>
          <th scope="col">kilo/s</th>
          <th scope="col">number of pack/s</th>
          <th scope="col">total due</th>
          <th scope="col">Picked up</th>
        </tr>
      </thead>
      <tbody *ngFor="let l of customerpickuplist | async;">
        <tr  *ngIf= "l">
          <th scope="row">{{l.id}}</th>
          <td >{{l.username}}</td>    
          <td style="background-color: rgb(212, 212, 212);">{{l.name}}</td>                            
          <td *ngIf="l.paymentStatus == l.paymentMethod ">{{l.paymentStatus}}</td>  
          <td *ngIf="l.paymentStatus != l.paymentMethod " >{{l.paymentStatus}}-{{l.paymentMethod}}</td> 
          <td style="background-color: rgb(212, 212, 212);">{{l.phonenumber}}</td> 
          <td>{{l.time}}</td>
          <td style="background-color: rgb(212, 212, 212);">{{l.date}}</td>
          <td>{{l.kilo}}</td>
          <td style="background-color: rgb(212, 212, 212);">{{l.pack}}</td>
          <td>{{l.total}}</td>
          <td style="background-color: rgb(212, 212, 212);"><button class="btn btn-primary" (click)="cpickup(l)">Picked up</button></td>
        </tr>

      </tbody>
      
    </table>
</div>






<div class="confirmation-box" *ngIf="pickedactive == true">
  <p style="color: rgb(88, 166, 255); font-size: 16px;font-weight: 500;">ORDER CONFIRMATION</p><hr>
  <p class="nn"> Name:<b>{{confirmname}}</b> </p>
  <p class="nn"> Usernmae: <b>{{confirmusername}}</b></p>
  <p class="nn"> Number of packs: <b>{{confirmpack}}</b></p>
  <p class="nn"> Total amount due:<b>{{confirmpayed}}</b> </p>
  <h4 style="color: rgb(88, 166, 255);" *ngIf="paymentMethod == 'gcash' ||paymentMethod == 'cash'">Are you sure is this picked up? </h4>
  <h4 style="color: rgb(88, 166, 255);" *ngIf="paymentMethod == 'unpaid'">Are you sure is this picked up and paid using?</h4>
  <button class="btn btn-primary  " *ngIf="paymentMethod == 'unpaid'" (click)="pickedupgcash()">Yes - Gcash</button>
  <button class="btn btn-primary lala "  *ngIf="paymentMethod == 'unpaid'"   style="background-color: rgb(2, 253, 2);" (click)="pickedupcash()">Yes - Cash</button>
<button class="btn btn-primary lala " *ngIf="paymentMethod == 'gcash' ||paymentMethod == 'cash'" style="background-color: rgb(2, 253, 2);" (click)="pickedupyes()">Yes</button>
<button  class="btn btn-danger lala " (click)="pickedupno()">No</button>

</div>
<div class="confirmation-box" *ngIf="deliveredavtive  ">
  <p style="font-size: 18px; font-weight: bold; color: rgb(92, 155, 250);">ORDER CONFIMRATION</p><hr>
  <p class="nn"> Name: <b>{{confirmname}}</b></p>
  <p class="nn"> Usernmae:<b>{{confirmusername}}</b> </p>
  <p class="nn"> Address:<b>{{confirmaddress}}</b> </p>
  <p class="nn"> Number of packs:<b>{{confirmpack}}</b> </p>
  <p class="nn"> Total amount due:<b>{{confirmpayed}}</b> </p>

  <h4 style="color: rgb(88, 166, 255);" *ngIf="paymentMethod == 'gcash' ||paymentMethod == 'cash'">Are you sure is this Delivered? </h4>
  <h4 style="color: rgb(88, 166, 255);" *ngIf="paymentMethod == 'unpaid'" >Are you sure is this Delivered and paid using?</h4>
  <button class="btn btn-primary  " *ngIf="paymentMethod == 'unpaid'" (click)="deliverygcash()">Yes - Gcash</button>
  <button class="btn btn-primary lala "  *ngIf="paymentMethod == 'unpaid'"   style="background-color: rgb(2, 253, 2);" (click)="dcash()">Yes - Cash</button>
<button class="btn btn-primary lala " *ngIf="paymentMethod == 'gcash' ||paymentMethod == 'cash'" style="background-color: rgb(2, 253, 2);" (click)="deliveryyes()">Yes</button>
<button  class="btn btn-danger lala " (click)="deliveryno()">No</button>
</div>


<div class="jumbotron jumbotron2 jumbotron-fluid " *ngIf="addLactive">
  <h2 class="title2">Place your Booking</h2><hr>
<div class="fck">
    <form #booking="ngForm" #add="ngForm" (ngSubmit)="addlaundryy(add.value)">

      <label class="bb">Username</label><br>
      <input (click)="onsearch()" class="mm1" [(ngModel)]="seachname" name='username' type="text" placeholder="Enter your username"><br>  

      <div class="list-container" *ngIf="seachname !== '' && searchs">
        <ul class="list" *ngFor="let user of userlist | async">
          <li *ngIf="user.username.includes(seachname)" (click)="offsearch(user.username)">
           <h5 style="font-weight: bold;">{{ user.username }}</h5> 
          </li>
        </ul>
      </div>

      <br>
        <label class="bb" for="ara " >Deliver or pick up on the shop</label><br>
        <input class="mm1" type="text"[ngModel]="changedd" name="changedd"readonly ><button class="buttn" (click)="changedelivery()"type="button">Change</button><br>

        <label class="bb">Clothes kilo</label><br>
        <input class="mm1" ngModel name='kilo' type="number" placeholder="Enter the clothes weight"><br>    
        <label class="bb">Number of packs Client want <div class="icon-container">
          <div class="icon" id="info-icon">!</div>
          <div class="tooltip" id="info-tooltip">The price still relies on how many kilos. if they want the defult packs just leave it blank</div>
        </div>
        </label><br>
        <input class="mm1" ngModel name='packs' type="number" placeholder="Enter the packs"><br>  
        <label>Payment Status and Method</label><br>
        <label><input type="radio" [(ngModel)]="paymentMethod" name="paymentMethod" value="gcash">Paid - Gcash &nbsp;  &nbsp; &nbsp; &nbsp; </label> 
        <label><input type="radio" [(ngModel)]="paymentMethod" name="paymentMethod" value="cash">Paid - Cash</label><br>  
        <label><input type="radio" [(ngModel)]="paymentMethod" name="paymentMethod" value="unpaid">Unpaid &nbsp;</label><br> 

  <input  class="butt" type="submit">
    </form>
  </div>

    </div>
</div>
</div>
