 .row {
    display: flex;
  }
  
  .column {
    padding-left: 25%;
    column-count: 2;
    column-gap: 20%;
  }
  .cancelbtn {
  font-size: 18px;
  }


  .mininav{
    display: flex;
  }
  .nor{
    cursor: pointer;
  }




  .confirmation-box {
    text-align: center;
    background-color: white;
    border: none;
    border-radius: 2%;
    max-width: 40%;
    margin-left: 30%;
    max-height: 20%;
    padding: 2%;
  }
  
.btn-danger{
  margin: 1em;
  font-size: 20px;
}
.btn-danger:hover{
  margin: 1em;
  font-size: 20px;
  background-color: black;
}
.sideclass{
  text-align: justify;

}

#nav{ 
  margin-top: 2em;
  background-color: white;
  min-width: 100%;
  border: none;
  padding-left: 1em;
  font-size: 18px;
  height: 70px;
  border-top-right-radius: 10px 10px;
  border-top-left-radius: 10px 10px;
}


.item{
  border: none;
  background-color: rgb(40, 39, 39);
  text-align: center;
  color: white;  
  padding: 2.5%;
}
.item:hover{
  background-color: rgb(89, 89, 89);
  box-shadow: rgba(0, 0, 0, 0.25) 5px 10px 5px;
}
.item2{
  padding-left: 5%; 
  padding-right: 5%; 
}

.item3{
  padding-left: 4%; 
  padding-right: 4%; 
}
.jump{
  background-color: rgb(255, 255, 255);
  text-align: center;
  border: none;
  font-size: 15px;
  padding-left: 3%;
  padding-right: 3%;
  border-bottom-right-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}
h3{
  font-size: 30px;
  text-align: center;
}
.nn{
  font-size: 20px;
  text-align: center;
}
tr{
  font-size: 15px;
}
.qq{
  font-family: Bahnschrift;;
  font-size: 4em;
  color: rgb(36, 36, 36);
  padding-top: 14px;
  padding-left: 5%;
}
h4{
  font-family: Bahnschrift;;
  font-size: 20px;
  color: rgb(88, 150, 249);
  padding-top: 15px;
}
.title2{
  font-family: Bahnschrift;;
  font-size: 18px;
  color: black;
  padding-top: 15px;
  text-align: center;
}
.fck{
  margin-left: 35%;
}
label{
  font-size: 15px;
  color: black;
}
.mm{
  height: 30px;
  width: 250px;
  border: none;
  font-size: 15px;
  background-color: rgb(223, 223, 223);
}
.buttn{
  border: none;
  font-size: 15px;
  margin-left: 8px;
  padding: 1%;
  background-color: rgb(134, 180, 255);
  color: black;
  border-radius: 5px;
  font-weight: 500;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.buttn:hover{
  background-color: rgb(0, 0, 0);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.butt{
  border: none;
  font-size: 15px;
  margin-top: 13px;
  background-color: rgb(134, 180, 255);
  color: black;
  border-radius: 5px;
  padding: 1%;
  font-weight: 500;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.butt:hover{
  background-color: rgb(0, 0, 0);
  color: white; 
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);  
}

.th{
  font-size: 15px;
}
.td{
  font-size: 15px;
}
.btn-primary{
  font-size: 20px; 
  background-color: rgb(134, 180, 255);
  border: none;
  color: black;
margin-right: 4%;
}
.btn-primary:hover{
  background-color: black;
  color: white;
}
.btn-primary1{
  font-size: 20px; 
  background-color: rgb(28, 253, 69);
  border: none;
  color: black;
margin-right: 4%;
}
.btn-primary1:hover{
  background-color: black;
  color: white;
}
.btn-success{
  font-size: 18px; 
  border: none;

 margin-left: 4%;
}
.btn-success:hover{
  background-color: black;
  color: white;
}
.btn3{
  margin-right: 4%;
  padding-top: 1px;
  padding-bottom: 3%;

}

.jumbotron{
  background-color: white;
  border: none;
  padding: 1rem 2rem;
}
.jumbotron2{
  padding-left: 7%;
  padding-right: 7%;
  border-bottom-right-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}
.container1{
  margin-left: 2%;
  margin-right: 2%; 
}
.table-responsive{
  background-color: white;
  box-shadow: 5px 5px 10px black;
}
td{
  background-color: white;
  color: black;
}
th{
  background-color:  rgb(84, 84, 84);
}
hr{
  border: 1px solid rgb(135, 135, 135);
}
h3{
  margin-top: 2%;
}.icon-container {
  position: relative;
  display: inline-block;
}

.icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  background-color: #f00; /* Set your desired background color for the icon */
  color: #fff; /* Set your desired text color for the icon */
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: 0; /* Adjust the distance between the icon and tooltip as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333; /* Set your desired background color for the tooltip */
  color: #fff; /* Set your desired text color for the tooltip */
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s;
  text-align: center; 
  width: 200px;
}

.icon-container:hover .tooltip {
  opacity: 1;
}
/* Default styles */
.container1 {
  margin-left: 2%;
  margin-right: 2%;
}
.vv{
  background-color: rgb(137, 137, 137);
  height: 100vh;
}
/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .fck{
    margin-left: 5%;
    margin-right: 5%;
  }
  .container1 {
    margin-left: 0;
    margin-right: 0;
  }
  .column {
    padding-left: 0;
    column-count: 1;
    column-gap: 0;
  }
  .jump {
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .vv{
    height: 100vh;
}
}

/* Media query for screens smaller than 576px */
@media (max-width: 576px) {
  .qq {
    font-size: 3em;
  }
  .title2 {
    font-size: 20px;
  }
  label {
    font-size: 14px;
  }
  .mm {
    width: 100%;
  }
  .buttn {
    font-size: 16px;
  }
  .butt {
    font-size: 16px;
    margin: 10px;
  }
  .jumbotron2 {
    padding-top: 12%;
    padding-left: 3%;
    padding-right: 3%;
  }
  h3 {
    font-size: 25px;
    margin-top: 5%;
    text-align: center;
  }
  .nn {
    font-size: 18px;
  }
  tr {
    font-size: 14px;
  }
  .th {
    font-size: 14px;
  }
  .td {
    font-size: 14px;
  }
  hr {
    border: 1px solid rgb(135, 135, 135);
    margin: 5% 0;
  }
  .icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  .tooltip {
    top: 30px;
    font-size: 12px;
    padding: 3px 6px;
    width: auto;
  }
  .btn3 {
    margin-right: 0;
    padding-bottom: 5%;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px; /* Add some padding for better mobile viewing */
  }
  #nav {
    margin-top: 10%;
    background-color: white;
    min-width: 100%;
    border: none;
    font-size: 18px;
    height: 70px;
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: space-around; /* Spread the items evenly */
    align-items: center; /* Center items vertically */
 
  }

  .qq{
    text-align: center;
  }
  /* Adjust the item styles */
  .item {
    margin-bottom: 2px;

    border: none;
    text-align: center;
    color: white;
    padding: -8%;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }
  
  .item:hover {
    background-color: rgb(104, 104, 104);
    box-shadow: rgb(0, 0, 0) 5px 8px 10px;
    transform: translateY(-2px);  
  }
  
  .item2 {
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .item3 {
    margin-left: 1%;
    padding-left: 4%;
    padding-right: 4%;

  }
  .navbar{
    margin-top: 25%;
    margin-left: -30px;
    padding: 0;
  }
}

