 .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
  .cancelbtn {
float: left;
  }


  .mininav{
    display: flex;
  }
  .nor{
    cursor: pointer;
  }
  .balancer {
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5px;
    margin-bottom:0px;
  }



  .confirmation-box {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    background-color: aliceblue;
      border: 0.5em solid rgb(75, 75, 239);
      padding: 20px;
      max-width: 45em;

 
  }
  
.lala{
  margin: 1em;
  font-size: 2em;
}
.sideclass{
  text-align: justify;

}
@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
.mint{
  /* color: rgb(0, 78, 212); */
  font-size: 4em;
  font-family: 'Rocher';
  font-weight: bolder;

  flex-direction: column;
  margin-top: 15px;
  
}

@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}

.mint {
  font-palette: --Mint;
}
#nav{ 
  margin-top: 2em;
  background: rgb(71, 177, 185);
  border-radius: 10px;
  min-width: 100%;
  border: solid black;
  box-shadow: 5px 5px 5px black;
  margin-bottom: 1px;
  padding-left: 1em;
  font-size: 20px;
  height: 70px;
}
.item{
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 15px;
  padding-right: 15px;
}
.item:hover{
  background-color: rgb(222, 247, 255);
  border-radius: 3px;
  transform: scale(1.3);
  font-weight: bold;
}
.jumbotron{
  background-color: rgb(150, 229, 255); 
  text-align: center;
}
h3{
  font-size: 3em;
}
tr{
  font-size: 13px;
}
