.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
  .cancelbtn {
float: left;
  }


  .mininav{
    display: flex;
  }
  .nor{
    cursor: pointer;
  }
  .balancer {
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5px;
    margin-bottom:0px;
  }