
<div class="container">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">

     
      
          <div class="collapse navbar-collapse " id="navbarCollapse" >
              <div class="navbar-nav" >
         
                  <a  (click)="showPK()" class="nav-item nav-link nor" *ngIf="this.PKactive != true">Deliviry Pick up</a>
                  <a  (click)="showPK()" class="nav-item nav-link nor active" *ngIf="this.PKactive == true">Deliviry Pick up</a>
                  <a  (click)="showW()" class="nav-item nav-link nor" *ngIf="this.Wactive != true">Wash</a>
                  <a  (click)="showW()" class="nav-item nav-link active nor" *ngIf="this.Wactive == true">Wash</a>
                  <a  (click)="showD()"class="nav-item nav-link nor" *ngIf="this.Dactive != true">Deliviry</a>
                  <a  (click)="showD()"class="nav-item nav-link nor active" *ngIf="this.Dactive == true">Deliviry</a>
                  <a  (click)="showpick()"class="nav-item nav-link nor" *ngIf="this.Pickupactive != true"> Client Pick up</a>
                  <a  (click)="showpick()"class="nav-item nav-link nor active" *ngIf="this.Pickupactive == true">Client Pick up</a>
              </div>



      </div>
  </nav>


    <div class="jumbotron jumbotron-fluid bg-dark table-responsive"  *ngIf="this.PKactive == true">
        <h3> <span class="label label-default">Pick up</span>  </h3>
        <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>  
                <th scope="col">Name</th>              
                <th scope="col">User ID</th>
                <th scope="col">Phone number</th>           
                <th scope="col">Address</th>
                <th scope="col">after washing to be</th>
                <th scope="col">update</th>

              </tr>
            </thead>
            <tbody *ngFor="let z of pickup | async;">
              <tr  *ngIf= "z">
                <th scope="row">{{z.id}}</th>
                <td>{{z.username}}</td>    
                <td>{{z.name}}</td>                            
                <td>{{z.uid}}</td>  
                <td>{{z.phonenumber}}</td>
                <td>{{z.address}}</td>
                <td>{{z.for}}</td>
                <td><button class="btn btn-primary" (click)="getupdate(z)">update</button></td>

              </tr>
     
            </tbody>
            
          </table>
    </div>

    <div class="jumbotron jumbotron-fluid bg-dark table-responsive"*ngIf="this.Wactive == true">
        <h3> <span class="label label-default">Wash</span>  </h3>
        <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>  
                <th scope="col">Name</th>              
                <th scope="col">User ID</th>
                <th scope="col">Phone number</th>           
                <th scope="col">Address</th>
                <th scope="col">after washing to be</th>
                <th scope="col">status</th>
                <th scope="col">kilo/s</th>
                <th scope="col">number of pack/s</th>
                <th scope="col">total due</th>
                <th scope="col">update</th>
              </tr>
            </thead>
            <tbody *ngFor="let q of laundry | async;">
              <tr  *ngIf= "q">
                <th scope="row">{{q.id}}</th>
                <td>{{q.username}}</td>    
                <td>{{q.name}}</td>                            
                <td>{{q.uid}}</td>  
                <td>{{q.phonenumber}}</td>
                <td>{{q.address}}</td>
                <td>{{q.for}}</td>
                <td>{{q.status}}</td>
                <td>{{q.kilo}}</td>
                <td>{{q.pack}}</td>
                <td>₱{{q.total}}.00</td>
                <td><button class="btn btn-primary" (click)="getLaundry(q)">update</button></td>
              </tr>
     
            </tbody>
            
          </table>
    </div>


    <div class="jumbotron jumbotron-fluid bg-dark table-responsive" *ngIf="this.Dactive == true">
      <h3> <span class="label label-default">Delivery</span>  </h3>
      <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>  
              <th scope="col">Name</th>              
              <th scope="col">User ID</th>
              <th scope="col">Phone number</th>           
              <th scope="col">Address</th>
              <th scope="col">after washing to be</th>
              <th scope="col">update</th>

            </tr>
          </thead>
          <tbody *ngFor="let z of pickup | async;let i = index">
            <tr  *ngIf= "z">
              <th scope="row">{{z.id}}</th>
              <td>{{z.username}}</td>    
              <td>{{z.name}}</td>                            
              <td>{{z.uid}}</td>  
              <td>{{z.phonenumber}}</td>
              <td>{{z.address}}</td>
              <td>{{z.for}}</td>
              <td><button class="btn btn-primary" (click)="getLaundry(z)">update</button></td>

            </tr>
   
          </tbody>
          
        </table>
  </div>

  <div class="jumbotron jumbotron-fluid bg-dark " *ngIf="this.PUactive == true">
    <button class="cancelbtn btn btn-danger" (click)="cancelupdate()">Cancel</button>
    <h3> <span class="label label-default">Update</span>  </h3>

    <form  class="left"#addadmin="ngForm" (ngSubmit)="update(addadmin.value)" >
        <div class="row">
     <div class="column">
        
        <label class="text-white">Pick Up ID#</label><br>
        <input ngModel name="pickupid" type="text" readonly [ngModel]="upid"><br>
        <label class="text-white">Username</label><br>
        <input ngModel name='username' type="text" readonly [ngModel]="upusername"><br>
        <label class="text-white">Customer Name</label><br>
        <input ngModel name='name' type="text" readonly [ngModel]="upname"><br>
        <label class="text-white">User ID</label><br>
        <input ngModel name='userid' type="text" readonly [ngModel]="upuid"><br>    
    </div>
    <div class="column">
        <label class="text-white">Phone  Number</label><br>
        <input ngModel name='phonenumber' type="number" readonly [ngModel]="upphonenumber"><br>
        <label class="text-white">Address</label><br>
        <input ngModel name='address' type="text" readonly [ngModel]="upadress"><br>
        <label class="text-white">After washing to be</label><br>
        <input ngModel name='to' type="text" readonly [ngModel]="upfor"><br>
        <label class="text-white">clothes kilo</label><br>
        <input ngModel name='kilo' type="number" ><br>    
    </div>
</div>
        
          
              
                
                <input type="submit" class="btn btn-primary" name="submit" value="Update">
    </form>
</div>




<div class="jumbotron jumbotron-fluid bg-dark " *ngIf="this.WUactive == true">
  <button class="cancelbtn btn btn-danger" (click)="cancellaupdate()">Cancel</button>
  <h3> <span class="label label-default">Update</span>  </h3>

  <form  class="left">
      <div class="row">
   <div class="column">
      
      <label class="text-white">Pick Up ID#</label><br>
      <input ngModel name="pickupid" type="text" readonly [ngModel]="laid"><br>
      <label class="text-white">Username</label><br>
      <input ngModel name='username' type="text" readonly [ngModel]="lausername"><br>
      <label class="text-white">Customer Name</label><br>
      <input ngModel name='name' type="text" readonly [ngModel]="laname"><br>
      <label class="text-white">User ID</label><br>
      <input ngModel name='userid' type="text" readonly [ngModel]="lauid"><br>    
  </div>
  <div class="column">
      <label class="text-white">Status</label><br>
      <input ngModel name='phonenumber' type="text" readonly [ngModel]="lastatus"><br>
      <label class="text-white">number of packs</label><br>
      <input ngModel name='address' type="text" readonly [ngModel]="lapack"><br>
      <label class="text-white">Kilo of clothes</label><br>
      <input ngModel name='to' type="text" readonly [ngModel]="lakilo"><br>
      <label class="text-white">Total price</label><br>
      <input ngModel name='kilo' type="text" readonly [ngModel]="laprice"><br>    
  </div>
</div>
      
        
            
              
<input type="submit" class="btn btn-danger balancer" name="submit" value="Delete">
<input type="submit" class="btn btn-primary balancer" name="submit" value="Washing" (click)="updatewashing()" *ngIf='lastatus == "processing"'>
<input type="submit" class="btn btn-success balancer" name="submit" value="Ready for Pick up" *ngIf='lafor == "Pick up at the shop"'>
<input type="submit" class="btn btn-success balancer" name="submit" value="Ready for Deliviry"*ngIf='lafor == "Delivery to Address"'>
  </form>
</div>



</div>

