.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
  .cancelbtn {
float: left;
  }


  .mininav{
    display: flex;
  }
  .nor{
    cursor: pointer;
  }
  .balancer {
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5px;
    margin-bottom:0px;
  }



  .confirmation-box {
    background-color: aliceblue;
      border: 0.5em solid rgb(75, 75, 239);
      padding: 20px;
      max-width: 100em;
      margin: 0 auto;
      text-align: justify;
  }
  
.lala{
  margin: 1em;
  font-size: 2em;
}

