
.container{
    border-radius: 50px;
    padding-bottom: 5em;
    color: rgb(0, 68, 120);
}
.kara{
    margin-top:6em;
background-color: rgba(0, 72, 120, 0.386);
}

.avatar{
width:200px;
height:200px;
}
.text-primary{
    font-size: 40px;
    margin-top: 50px;

    text-align: center;
}
h3{
    font-size: 25px;
    color: rgb(0, 68, 120);
}
.form-horizontal{
    font-size: 15px;
}
.form-horizontal{
    color: rgb(0, 68, 120);
}
.btn-primary{
        appearance: none;
        background-color: transparent;
        border: 2px solid #1A1A1A;
        border-radius: 15px;
        box-sizing: border-box;
        color: #282727;
        cursor: pointer;
        display: inline-block;
        font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 15px;
        font-weight: bold;
        line-height: normal;
        /* min-height: 30px; */
        min-width: 10em;
        outline: none;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        /* width: 10%; */
        will-change: transform;

      }

      .btn-primary:disabled {
        pointer-events: none;
      }

      .btn-primary:hover {
        color: #fff;
        background-color: #1A1A1A;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
      }

      .btn-primary :active {
        box-shadow: none;
        transform: translateY(0);
      }