<div class="container  ">
    <h1 class="mint">Profile</h1>
 
  <div class="container bootstrap snippets bootdey  kara" *ngIf="type =='1'">

  
    <div class="row">
      <!-- left column -->
      <div class="col-md-6">
        <div class="text-center">
            <div class="col-md-9 personal-info">

                    <h3>Personal info</h3>
                    
                    <form class="form-horizontal" role="form" #profileedit="ngForm" (ngSubmit)="updateprofile(profileedit.value)">
                      <div class="form-group">
                        <label class="col-lg-4 control-la">Name:</label>
                        <div class="col-lg-4">
                          <input class="form-control" type="text" placeholder="first name" [readOnly]="masterkey == false"  [(ngModel)]="namef" name="namef">
                        </div>
                        <div class="col-lg-4">
                            <input class="form-control" type="text" placeholder="last name"[readOnly]="masterkey == false"  [(ngModel)]="namel" name="namel">
                          </div>
                      </div>
                      <div class="form-group" *ngIf="masterkey == true">
                        <label class="col-lg-4 control-la">Gender:</label>
                        <div class="col-lg-8">
                          <input class="form-control"  type="text"  readonly [(ngModel)]="gender" name="gender">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="masterkey == false">
                        <label class="col-lg-4 control-la">Gender:</label>
                        <div class="col-lg-8">
                          <input class="form-control" style="cursor: pointer;" (click)="changegender()" type="text"  readonly [(ngModel)]="gender" name="gender">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-4 control-la">Email:</label>
                        <div class="col-lg-8">
                          <input class="form-control" type="text" [readOnly]="masterkey == false"  [(ngModel)]="email" name="email"> 
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-4 control-la">Phone number:</label>
                        <div class="col-lg-8">
                          <input class="form-control" type="text" [readOnly]="masterkey == false"  [(ngModel)]="phonenumber" name="phonenumber">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-4 control-la">Jobtitle:</label>
                        <div class="col-lg-8">
                          <input class="form-control" type="text"readOnly [(ngModel)]="jobtitle" name="jobtitle">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="masterkey">
                        <label class="col-lg-4 control-la"></label>
                        <div class="col-lg-8">
                          <input class="btn btn-primary" type="submit" value="Update Profile">
                        </div>
                      </div>
                     
                    </form>
                  </div>
            </div>
          </div>
          
          <!-- edit form column -->
          
          <div class="col-md-6">
            <div class="text-center">
                <div class="col-md-9 personal-info">

                    <h3>Change Password</h3>
                    
                    <form class="form-horizontal" role="form" #profile="ngForm" (ngSubmit)="changepassword(profile.value)">
                      <div class="form-group">
                        <label class="col-lg-4 control-label">Old password:</label>
                        <div class="col-lg-8">
                          <div class="input-group">
                            <input class="form-control" [type]="show ? 'text' : 'password'" name="oldpassword" ngModel [(ngModel)]="oldpassword">
                            <div class="input-group-append">
                              <button class="btn  bg-white" type="button" (click)="showpassword()">
                                <i class='fa' [ngClass]="{'fa-eye': show, 'fa-eye-slash': !show}" style="font-size: 1.5em;"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-4 control-label">New password:</label>
                        <div class="col-lg-8">
                          <div class="input-group">
                            <input class="form-control" [type]="show ? 'text' : 'password'" name="newpassword" ngModel [(ngModel)]="newpasword">
                            <div class="input-group-append">
                              <button class="btn  bg-white" type="button" (click)="showpassword()">
                                <i class='fa' [ngClass]="{'fa-eye': show, 'fa-eye-slash': !show}" style="font-size: 1.5em;"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-4 control-label">Confirm password:</label>
                        <div class="col-lg-8">
                          <div class="input-group">
                            <input class="form-control" [type]="show ? 'text' : 'password'" name="confirmpassword" ngModel [(ngModel)]="confirmpassword">
                            <div class="input-group-append">
                              <button class="btn  bg-white" type="button" (click)="showpassword()">
                                <i class='fa' [ngClass]="{'fa-eye': show, 'fa-eye-slash': !show}" style="font-size: 1.5em;"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-4 control-la"></label>
                        <div class="col-lg-8">
                          <input class="btn btn-primary" type="submit" value="Change Password">
                        </div>
                      </div>
                    </form>
                  </div>
            </div>
          </div>



      </div>
    </div>




    <div class="container bootstrap snippets bootdey  kara" *ngIf="type =='0'">
      
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <div class="text-center">
                <div class="col-md-9 personal-info">

                    <h3>Personal info</h3>
                    
                    <form class="form-horizontal" role="form" #profileedit="ngForm" (ngSubmit)="updateprofile(profileedit.value)">
                      <div class="form-group">
                        <label class="col-lg-4 control-la">Name:</label>
                        <div class="col-lg-4">
                          <input class="form-control" type="text" placeholder="first name"  [(ngModel)]="namef" name="namef">
                        </div>
                        <div class="col-lg-4">
                            <input class="form-control" type="text" placeholder="last name"  [(ngModel)]="namel" name="namel">
                          </div>
                      </div>

                      <div class="form-group" >
                        <label class="col-lg-4 control-la">Gender:</label>
                        <div class="col-lg-8" >
                          <input class="form-control" style="cursor: pointer;" (click)="changegender()" type="text"  readonly [(ngModel)]="gender" name="gender">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-4 control-la">Email:</label>
                        <div class="col-lg-8">
                          <input class="form-control" type="text"   [(ngModel)]="email" name="email"> 
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-4 control-la">Phone number:</label>
                        <div class="col-lg-8">
                          <input class="form-control" type="text"   [(ngModel)]="phonenumber" name="phonenumber">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-4 control-la">Address:</label>
                        <div class="col-lg-8">
                          <input class="form-control" type="text"   [(ngModel)]="location" name="address">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-4 control-la"></label>
                        <div class="col-lg-8">
                          <input class="btn btn-primary" type="submit" value="Update Profile">
                        </div>
                      </div>
                     
                    </form>
                  </div>
            </div>
          </div>
          
          <!-- edit form column -->
          
          <div class="col-md-6">
            <div class="text-center">
                <div class="col-md-9 personal-info">

                    <h3>Change Password</h3>
                    
                    <form class="form-horizontal" role="form" #profile="ngForm" (ngSubmit)="changepassword(profile.value)">
                      <div class="form-group">
                        <label class="col-lg-4 control-label">Old password:</label>
                        <div class="col-lg-8">
                          <div class="input-group">
                            <input class="form-control" [type]="show ? 'text' : 'password'" name="oldpassword" ngModel [(ngModel)]="oldpassword">
                            <div class="input-group-append">
                              <button class="btn  bg-white" type="button" (click)="showpassword()">
                                <i class='fa' [ngClass]="{'fa-eye': show, 'fa-eye-slash': !show}" style="font-size: 1.5em;"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-4 control-label">New password:</label>
                        <div class="col-lg-8">
                          <div class="input-group">
                            <input class="form-control" [type]="show ? 'text' : 'password'" name="newpassword" ngModel [(ngModel)]="newpasword">
                            <div class="input-group-append">
                              <button class="btn  bg-white" type="button" (click)="showpassword()">
                                <i class='fa' [ngClass]="{'fa-eye': show, 'fa-eye-slash': !show}" style="font-size: 1.5em;"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-4 control-label">Confirm password:</label>
                        <div class="col-lg-8">
                          <div class="input-group">
                            <input class="form-control" [type]="show ? 'text' : 'password'" name="confirmpassword" ngModel [(ngModel)]="confirmpassword">
                            <div class="input-group-append">
                              <button class="btn  bg-white" type="button" (click)="showpassword()">
                                <i class='fa' [ngClass]="{'fa-eye': show, 'fa-eye-slash': !show}" style="font-size: 1.5em;"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-4 control-la"></label>
                        <div class="col-lg-8">
                          <input class="btn btn-primary" type="submit" value="Change Password">
                        </div>
                      </div>
                    </form>
                  </div>
            </div>
          </div>



      </div>
    </div>




</div>