

nav {
  border-radius: 10px;
  z-index: 9999;
  margin-top: 0.3em;
  position: fixed;
  width: 300px;
  background: transparent;;
  color: rgba(0, 0, 0, 0.87);
  -webkit-clip-path: circle(31px at 37px 31px);
  clip-path: circle(31px at 37px 31px);
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.2625s, clip-path 0.175s;
  text-decoration: none;
}

nav:hover {
  z-index: 9999;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  border-radius: 10px;
  clip-path: circle(480px at 150px 24px);
  text-decoration: none;
}

a {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  color: black;
background-color: rgb(225, 225, 225);
}

a:hover { 
  background: #343434;   
  text-decoration: none;
  color: white;
}

a:active { 
  background: #313131;   
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navicon {
  padding: 29px 20px;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;
  text-decoration: none;
  border-radius: 10px;
}

.navicon div {
  position: relative;
  width: 35px;
  height: 4px;
  background: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  border-radius: 10px;
}

.navicon div:before,
.navicon div:after {
  display: block;
  content: "";
  width: 35px;
  height: 4px;
  background: rgba(0, 0, 0, 0.87);
  position: absolute;
  text-decoration: none;
}

.navicon div:before { top: -10px;   text-decoration: none;}

.navicon div:after { top: 10px;   text-decoration: none;}

.nav-text{
  font-size: 2em;
  text-decoration: none;
}
.nav-text:hover{
  font-size: 2em;
  text-decoration: none;
  border-radius: 10px;
  color: white;
}
.logout:hover{
  background-color: rgb(255, 74, 74);
  color: white;
}
.fa .fa-power-off .fa-2x:hover{
  color: white;
}