<!-- admin nav -->


<div style="float: left; border-radius: 20px;"  *ngIf="this.typeid == '1'">
<nav>
    <div class="navicon">
      <div></div>
    </div>

            <a routerLink="home">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                   Home
                </span>
            </a>
          

            <a routerLink="accounts" *ngIf="this.admin == true">
                <i class="fa fa-users fa-2x"></i>
                <span class="nav-text">
                    Account Management
                </span>
            </a>
            

            <a routerLink="profile">
               <i class="fa fa-user fa-2x"></i>
                <span class="nav-text">
                    Profile
                </span>
            </a>
            
 
            <a routerLink="sales">
               <i class="fa fa-pie-chart fa-2x"></i>
                <span class="nav-text">
                    Sales Management
                </span>
            </a>
           

            <a routerLink="laundry">
                <i class="fa fa-book fa-2x"></i>
                <span class="nav-text">
                    Laundry
                </span>
            </a>
 
            <a routerLink="announcement">
                <i class="fa fa-bullhorn fa-2x"></i>
                <span class="nav-text">
                   Announcement
                </span>
            </a>

            <a routerLink="chat">
                <i class="fa fa-comments fa-2x"></i>
                <span class="nav-text">
                   Chat
                </span>
            </a>

            <a  (click)="logout()" >
                  <i class="fa fa-power-off fa-2x"></i>
                 <span class="nav-text">
                     Logout
                 </span>
             </a>
     
  
  </nav>
</div>

<!-- user nav  -->
<div style="float: left;" *ngIf="this.typeid == '0'">
    <nav>
        <div class="navicon">
          <div></div>
        </div>
    
  
                <a routerLink="home">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                       Home
                    </span>
                </a>
 
                <a routerLink="about">
                    <i class="fa fa-map fa-2x"></i>
                    <span class="nav-text">
                       About
                    </span>
                </a>
              
                <a routerLink="announcement" >
                    <i class="fa fa-bullhorn fa-2x"></i>
                    <span class="nav-text">
                       Announcement
                    </span>
                </a>
                <a routerLink="tracking">
                    <i class="fa fa-book fa-2x"></i>
                    <span class="nav-text">
                        Laundry Status
                    </span>
                </a>

                <a routerLink="booking">
                    <i class="fa fa-book fa-2x"></i>
                    <span class="nav-text">
                        Pick up Booking
                    </span>
                </a>
 
                <a routerLink="chat">
                    <i class="fa fa-comments fa-2x"></i>
                    <span class="nav-text">
                       Chat
                    </span>
                </a>
   
                <a routerLink="profile">
                   <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                        Profile
                    </span>
                </a>
 
   
    
                <a  (click)="logout()" >
                    <i class="fa fa-power-off fa-2x"></i>
                   <span class="nav-text">
                       Logout
                   </span>
               </a>

      
      </nav>
    </div>
    
    
    


<!-- admin nav 




 user nav 
 <div class="area"  *ngIf="this.staff == false && this.session == true">

 </div><nav class="main-menu" *ngIf="this.staff == false && this.session == true">
        <ul>
            <li>
                <a routerLink="home">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                       Home
                    </span>
                </a>
              
            </li>
            <li>
                <a routerLink="home">
                    <i class="fa fa-map fa-2x"></i>
                    <span class="nav-text">
                       About
                    </span>
                </a>
              
            </li>
            <li>
                <a routerLink="tracking">
                    <i class="fa fa-book fa-2x"></i>
                    <span class="nav-text">
                        Laundry Status
                    </span>
                </a>
            </li>  
            <li>
                <a routerLink="booking">
                    <i class="fa fa-book fa-2x"></i>
                    <span class="nav-text">
                        Pick up Booking
                    </span>
                </a>
            </li> 
            <li>
                <a routerLink="chat">
                    <i class="fa fa-comments fa-2x"></i>
                    <span class="nav-text">
                       Chat
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a routerLink="profile">
                   <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                        Profile
                    </span>
                </a>
 
        </ul>
    
        <ul class="logout">
            <li>
                <a  (click)="logout()" >
                    <i class="fa fa-power-off fa-2x"></i>
                   <span class="nav-text">
                       Logout
                   </span>
               </a>
            </li>  
        </ul>
    </nav> -->
    
        <!-- <li><a routerLink="home">Home</a></li>                                                                           
        <li><a routerLink="admin">Admin table</a></li>  
        <li><a routerLink="user">User table</a></li>  
        <li><a routerLink="profile"> Profile</a></li>  
        <li><a routerLink="about"> About us</a></li>   -->
    
    
    