<div class=" container manok">
  <h2 class="mint"> Announcement Board </h2>

<div class="jumbotron jumbotron-fluid a frome"  *ngIf="this.eid == 'admin' || this.eid == 'owner ' ">


    <form #postaaa="ngForm" class="center"  (ngSubmit)="postna(postaaa.value)">
   <div class="d-flex">
  <p class="title">Title</p>   
        <input  type="text" name="header" [(ngModel)]="header"  class="headinput headertitle" id="header" placeholder="Header"><br>
</div>
<div class="d-flex">
  <p class="title" style="margin-right:-1em;">Message</p>
        <textarea type="text"  autocomplete="off" class="textarea"  style="border-radius: 10px; font-size: 1.5em;"     [(ngModel)]="body"    name="body" id="body" placeholder="body"></textarea><br>

    </div>
        <button class="luck" type="button" (click)="editcancel()" *ngIf="editac">cancel</button>
        <button class="luck" type="button" (click)="edit()"  *ngIf="editac">update</button>

        <input class="butt" type="submit" value="Post" *ngIf="!editac">

    </form>



</div>


<div class="scrollable-div"  *ngIf="this.eid == 'admin' || this.eid == 'owner ' ">

<div *ngFor="let a of (announcements | async)?.reverse()" >
    <div class="form-alerts toasts " *ngIf="a">
        <div role="alert" class="fade form-warning alert alert-warning alert-dismissible show ">
          <button class="icon-close"  (click)="openConfirmationDialog(a.postid)"></button>
          <button class="icon-button" (click)="getedit(a)"></button>

          <div class="d-flex align-items-center  ">
            <img alt="noti-icon" src="https://cdn-icons-png.flaticon.com/256/1378/1378644.png" width="28" class="me-4">
            <h2><b class="pad ">{{a.title}}</b>
            </h2><mark>{{a.timedate}}</mark>
          </div>
             <div class="letter"><pre>{{a.body}}</pre></div>
        </div>
      </div>    
      </div>
</div>

<div class="scrollable-div1"  *ngIf="this.typeid == '0' || this.typeid == '1 ' && this.eid != 'admin' && this.eid != 'owner'  ">

  <div *ngFor="let a of (announcements | async)?.reverse()" >
      <div class="form-alerts toasts " *ngIf="a">
          <div role="alert" class="fade form-warning alert alert-warning alert-dismissible show ">
        
            <div class="d-flex align-items-center  ">
              <img alt="noti-icon" src="https://cdn-icons-png.flaticon.com/256/1378/1378644.png" width="28" class="me-4">
              <h2><b class="pad ">{{a.title}}<br></b>
              </h2><mark>{{a.timedate}}</mark>
            </div>
               <div class="letter"><pre>{{a.body}}</pre></div>
          </div>
        </div>    
        </div>
  </div>
  </div>
  <app-custom-confirm-dialog *ngIf="showDialog"
(confirm)="onConfirmed()"
(cancel)="onCancelled()"
></app-custom-confirm-dialog>