.letter{
text-align: justify;
    margin-left: 3em;
    font-weight:500;
    font-size: 1.5em;
    width: auto;
}

.mint{
  font-family: Bahnschrift;;
  font-size: 3em;
  color: rgb(53, 53, 53);
  padding-top: 15px;
}
.letter pre {
  margin: 0;
  white-space: pre-wrap;
}
.pad{
  text-align: center;
  color: black;
}
.center{
    text-align: center;
    padding-top: 10px;
    padding-bottom:10px;
    font-size: 1em;


}
.textarea {
    border: 1px #ddd solid;
    white-space: pre;
  text-align: justify;
    height: 120px;
    font: 9pt Consolas;
    width: 100%;
    padding:1.5em ;
    overflow-x: auto;
    word-break: break-word;
    resize: none;
}
.a{
    padding-right: -40px;
    padding-left: -40px;
    border-radius: 1em;
 
}
.headertitle{
  font-weight: bold;
  font-size: 1.5em;
    border-radius: 30px;
    text-align: center;
  height: 2em;
}

.kick{
    float: right;
    border-radius: 10px;

  }
  .headinput{
    width: 60%;
  }
  .title{
    text-align: justify;
    font-weight: bold;
    font-size: 1.9em;
    padding-right: 2em;
    margin-right: 20px;
    color: white;
  }
  .scrollable-div {

    height: 30em;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
}
.frome {
padding-top: 0;
height: 210px;
 margin-top: 8em;
}
.scrollable-div1 {
margin-top: 5em;
  height: 50em;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
}
.jumbotron{
  background-color: rgb(56, 56, 56);
  text-align: justify;
  margin-top: 1px;
  height: 23em;
  border: solid rgb(128, 128, 128);
  box-shadow: 5px 5px 10px black;
}
.butt{
  background-color: white;
  padding: 5px;
  margin-top: 4px;
  font-size:  18px;
  border-radius: 5px;
  border: none;
  margin-left: 52em;
}
.butt:hover{
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
}
.alert-warning{
  background-color: rgb(137, 137, 137);
  border: none;
}
.scrollable-div{
  border: solid black;
  border-radius:  8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px black;
}
.headinput{
  border: none;
  border-radius: 5px;
}
.icon-button {
  background-image: url('https://cdn-icons-png.flaticon.com/256/1160/1160515.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* Add any other button styles you want */
  width: 3em;
  height: 3em;
  float: right;
  margin-right:  1em;
  border: none;
  margin-top: 28px;
  margin-left: 30px;
}

.icon-close {
  margin-left: 10px; 
  margin-top: 28px;
  background-image: url('https://cdn-icons-png.flaticon.com/256/6861/6861362.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* Add any other button styles you want */
  width: 3em;
  height: 3em;
  float: right;
  border: none;
}
.luck{
  background-color: white;
  padding: 5px;
  margin-top: 4px;
  font-size:  18px;
  border-radius: 5px;
  border: none;
  margin-left: 2em;
 
}
.luck:hover{
  background-color: rgb(0, 89, 104);
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .pad{
    font-size: 15px;
  }
  .mint{
    text-align: center;
  }
  .title {
    font-size: 15px;
  }
  .butt{
    margin-left: 250px;
    margin-top: 20px;
  }
  .jumbotron{
    height: 25em;
  }
}