@import url("https://fonts.googleapis.com/css?family=Modak");
* {
    margin: 0;
    padding: 0;
 
  }
  .top{
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 5vh; */

  }

  .design{
    background-color: rgb(255, 86, 86);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 3vh;

  }

  .back{
    background: url(back1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    column-count: 2;
}
.logo2{
    margin-left: 18em;
    height: 45em;
    width: 45em;
    margin-top: 10em;
    border-radius: 50%;
    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;

}
@keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }

 .mint{
    /* color: rgb(0, 78, 212); */
    padding-top: 1%;
    font-size: 5em;
    margin-right: 1em;
    font-family: 'Rocher';
    font-weight: bolder;
    margin-left: 5em;
    flex-direction: column;
  }

  @font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
  }

  .mint {
    font-palette: --Mint;
  }

  .text-3{
 
    font-size: 12em;
    font-family: Modak;
    margin-left: 180px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px #ffffff23; 
    background-image: linear-gradient(rgb(255, 61, 61), rgb(76, 81, 251));
  }

  .button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20%;
    will-change: transform;
    margin-left: 10em;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .about{
    background: url('aboutwallpaper1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    column-count: 2;

    padding-top: 1em;

  }
  .logo{
    height: 40em;
    width: 60em;
    margin-top: 10em;
    border: solid rgb(210, 126, 0);
    border-width: 2em;
    border-radius: 10%;
    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}


.button-35 {
  background-color: #fc9859;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  font-family: Inter,sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  outline: none;
  padding: 1rem 1.2rem;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 3em;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}
.desc{
  font-size: 1.75em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 1px;
  text-align: justify;
  margin-right: 3em;
  margin-left: 2em;
}
.title2{
  padding-top: 1em;
  font-size: 5em;
  margin-right: 2em;
  font-family: Modak;
  margin-left: 2em;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: calc(50vh - 100px);
  text-shadow: 2px 2px #c4c4c433; 
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(red, rgb(87, 92, 221));
}
/* Add this CSS at the end of your existing CSS code */
/* Media queries for responsive design */

/* For screens smaller than 768px */
@media (max-width: 768px) {
  /* Adjust font size and margin for smaller screens */
  .mint {
    font-size: 3em;
    margin-left: 2em;
  }

  /* Adjust font size and margin for smaller screens */
  .text-3 {
    font-size: 40px;
    margin-left: 2em;
  }

  /* Adjust width and margin for smaller screens */
  .button-28 {
    width: 80%;
    margin-left: 2em;
  }

  /* Adjust font size, margin, and padding for smaller screens */
  .desc {
    font-size: 1.25em;
    margin-right: 1em;
    margin-left: 1em;
    padding-bottom: 2em;
  }

  /* Adjust font size and margin for smaller screens */
  .title2 {
    font-size: 3em;
    margin-left: 1em;
    margin-top: 10px;
  }

  /* Adjust padding for smaller screens */
  .back {
    padding: 1em;
  }

  /* Adjust margin for smaller screens */
  .logo2 {
    margin-left: 5em;
  }
}

/* For screens smaller than 576px */
@media (max-width: 576px) {
  /* Adjust font size for even smaller screens */
  .mint {
    font-size: 2em;
  }

  /* Adjust font size for even smaller screens */
  .text-3 {
    font-size: 30px;
  }

  /* Adjust width for even smaller screens */
  .button-28 {
    width: 90%;
  }

  /* Adjust font size and margin for even smaller screens */
  .desc {
    font-size: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding-bottom: 1em;
  }

  /* Adjust font size and margin for even smaller screens */
  .title2 {
    font-size: 2.5em;
    margin-left: 0.5em;
  }

  /* Adjust margin for even smaller screens */
  .logo2 {
    margin-left: 2em;
  }
}
