@import url("https://fonts.googleapis.com/css?family=Modak");
* {
    margin: 0;
    padding: 0;
 
  }
  .top{
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 50px;
    /* height: 5vh; */

  }


  .back{
    background: url(../../assets/image/back5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}
.off{
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  font-family: Bahnschrift;
  font-size: 4em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border: solid white;
  width: 40%;
  margin-left: 30%;
  text-shadow: 5px 5px 5px black;
}
.off1{
  text-align: center;
  padding-top: 1em;
   color: black;
   font-size: 20px;
   font-family: Bahnschrift;   
}
.slct {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
  gap: -10000em; /* Adjust the gap between columns */
  justify-items: center; /* Center items horizontally within each column */
  text-align: center; /* Center text within each item */
  margin-left: 50em;
    margin-right: 50em;
}

.hays {
  font-size: 1.75em;
  color: black;
  font-family: Bahnschrift;
  margin: 0; /* Reset margin to remove any unwanted spacing */
}

.logo2{
    margin-left: 18em;
    height: 20em;
    width: 20em;
    margin-top: 10em;
    border-radius: 50%;
    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;

}
@keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }



 h2{
    padding-top: 1%;
    font-size: 350%;
    font-family: Bahnschrift;
    text-align: left;
    flex-direction: column;
 }

  .text-3{
    margin-bottom: -30px;
    font-size: 12em;
    font-family: Modak;
    margin-left: 180px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px #ffffff23; 
    background-image: linear-gradient(rgb(247, 17, 17),    rgb(3, 11, 255));
  }

  .button-28 {
    appearance: none;
    background-color: #3B3B3B;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Bahnschrift;
    font-size: 20px;
    line-height: normal;
    margin-left: 28em;
    outline: none;
    padding: 11px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 10%;
    will-change: transform;

  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    font-weight: bold;
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .about{
    background: url('../../assets/image/asd.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 1em;

  }
  .extra{
    border: none;
    margin-top: 2em;
    float:right; 
    width: 50%;
    height: 500px;
    padding-right: 5%;
      background-color: rgb(172, 172, 172);  
 
  }
  .extra:hover{
   background-color: rgb(134, 181, 251);
  }
  .logo{
    height: 40em;
    width: 60em;
    margin-top: 10em;
    border: solid rgb(210, 126, 0);
    border-width: 2em;
    border-radius: 10%;
    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}


.button-35 {
  background-color: #fc9859;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  font-family: Inter,sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  outline: none;
  padding: 1rem 1.2rem;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 3em;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}
.desc{
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 1px;
  text-align: justify;
  margin-right: 3em;
  margin-left: 2em;

}
.title2{
  padding-top: 1em;
  font-size: 4em;
  margin-right: 2em;
  font-family: Bahnschrift;
  margin-left: 1em;
  color: black;
  text-align: right;

}
/* Add this CSS at the end of your existing CSS code */
/* Media queries for responsive design */

/* For screens smaller than 768px */
@media (max-width: 768px) {
  /* Adjust font size and margin for smaller screens */
  .mint {
    font-size: 3em;
    margin-left: 2em;
  }

  /* Adjust font size and margin for smaller screens */
  .text-3 {
    font-size: 40px;
    margin-left: 2em;
  }

  /* Adjust width and margin for smaller screens */
  .button-28 {
    width: 80%;
    margin-left: 2em;
  }

  /* Adjust font size, margin, and padding for smaller screens */
  .desc {
    font-size: 1.25em;
    margin-right: 1em;
    margin-left: 1em;
    padding-bottom: 2em;
  }

  /* Adjust font size and margin for smaller screens */
  .title2 {
    font-size: 3em;
    margin-left: 1em;
    margin-top: 10px;
  }

  /* Adjust padding for smaller screens */
  .back {
    padding: 1em;
  }

  /* Adjust margin for smaller screens */
  .logo2 {
    margin-left: 5em;
  }

  .desc {
    font-size: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding-bottom: 1em;
  }

  /* Adjust font size and margin for even smaller screens */
  .title2 {
    font-size: 2.5em;
    margin-left: 0.5em;
    text-align: right;
  }

  /* Adjust margin for even smaller screens */
  .logo2 {
    margin-left: 2em;
  }
}

#ew{
  padding-left: 20em;
  /* margin-left: 20em; */
  /* background: url('../../assets/image/bub1.png');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  height: 100vh; */
  }

  .title4{
    text-align: center;
    padding-top: 20px;
    font-family: Bahnschrift;
    font-size: 4em;
    color: black;
  }

  .work{
    padding-top: 2%;
    height: 230px;
    width: 230px; 
    border-radius: 50%;
    
  }
  .work1{
    height: 50px;
    width: 50px; 
    
  }
  .process {
    cursor: pointer;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    /* white-space: nowrap; */
    /* word-spacing: 3em; */
    text-align: center;
    font-weight: bold;
    border: none;
    height: 500px;
    width: 250px;
    margin-right: 50px;
    font-family: Bahnschrift;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    margin-bottom: 2em;
    margin-bottom: 5em;
  }

  main {
    display: flex;
    height: 100%;
    margin-left: 18%;
  }
  /* .dropdown {
    position: relative;
    display: inline-block;
  } */
  
  .dropdown > input[type="checkbox"] {
    position: absolute;
    left: -200vw;
  }
  
  .dropdown > label,
  .dropdown > a[role="button"] {
    display: inline-block;
    padding: 6px 15px;
    color: black;
    line-height: 1.5em;
    text-decoration: none;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 70%;
  }
  
  .dropdown > label:hover,
  .dropdown > a[role="button"]:hover,
  .dropdown > a[role="button"]:focus {
    border-color: #333;
  }
  
  .dropdown > label:after,
  .dropdown > a[role="button"]:after {
    content: "\f0d7";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: 6px;
  }
  
  .dropdown > ul {
    position: absolute;
    z-index: 999;
    display: block;
    left: -100vw;
    top: calc(1.5em + 14px);
    border: 1px solid #8c8c8c;
    background: #fff;
    padding: 6px 0;
    margin: 0;
    list-style: none;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.15);
    -moz-box-shadow: 0 3px 8px rgba(0,0,0,.15);
    box-shadow: 0 3px 8px rgba(0,0,0,.15);
  }
  
  .dropdown > ul a {
    display: block;
    padding: 6px 15px;
    text-decoration: none;
    color: #333;
    font-size: 10px;
  }
  
  .dropdown > ul a:hover,
  .dropdown > ul a:focus {
    background: #ececec;
  }
  
  .dropdown > input[type="checkbox"]:checked ~ ul,
  .dropdown > ul:target {
    left: 0;
  }
  
  .dropdown > [type="checkbox"]:checked + label:after,
  .dropdown > ul:target ~ a:after {
    content: "\f0d8";
  }
  
  .dropdown a.close {
    display: none;
  }
  
  .dropdown > ul:target ~ a.close {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    text-indent: -100vw;
    z-index: 1000;
  }
  .title3{
    font-size: 4em;
    font-family: Bahnschrift;
    color: black;
    text-align: center;
    padding-top: 1em;

  }

  .end{
    padding-bottom: 2em;   
    padding-top: 20px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 30em;
    padding-left: 3em;
    padding-right: 3em;
    color: black;
    border-radius: 5px;
  }
  .end:hover{
    background-color: rgb(194, 194, 194);
    color: black;

  }
  .desc2{
    margin-right: 20px;
    padding-left: 3em;
    padding-right: 3em;
    color: black;
    font-size: 20px;
    text-align: center;
  }
  .contact{
    background-color: rgb(168, 168, 168);
  }
.title5{
  text-align: center;
  font-size: 2em;
  font-family: Bahnschrift;
  padding-top: 20px;
  color: black;
}
.det{
  text-align: center;
  font-size: 15px;
  font-family: Bahnschrift;
  padding-top: 20px;
  color: black;
}
.hey{
  background: url('../../assets/image/bgl.png');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  height: 80vh;
}
.ew{
  background: url('../../assets/image/min.png');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  height: 80vh;
}




  