* {
    margin: 0;
    padding: 0;
 
  }
  .back{
    background: url(https://img.freepik.com/free-photo/blue-smoke-background-textured-wallpaper-high-resolution_53876-128239.jpg?w=2000);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
img{
    height: 25em;
    width: 25em;
    margin-top: 10em;
    border-radius: 50%;
    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}
@keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  h1{
    font-size: 5em;
    margin-top: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
  }
  p{
    font-size: 2.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

