@import url("https://fonts.googleapis.com/css?family=Modak");
* {
    margin: 0;
    padding: 0;
 
  }
  .top{
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 5vh; */
    margin-left: -250px;   
  }

  .design{
    background-color: #3B3B3B;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 5vh;
    margin-left: -250px;
  }

  .back{
    background: url(https://i.pinimg.com/750x/fa/fb/88/fafb8834262cb00e0855f7a6d6b02451.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin-left: -250px;
    column-count: 2;
}
.logo2{
    margin-left: 10em;
    height: 45em;
    width: 45em;
    margin-top: 6em;
    border-radius: 50%;
    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}
@keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }

 .mint{
    /* color: rgb(0, 78, 212); */
    padding-top: 1%;
    font-size: 5em;
    margin-right: 1em;
    font-family: 'Rocher';
    font-weight: bolder;
    margin-left: 4em;
    flex-direction: column;
  }

  @font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
  }

  .mint {
    font-palette: --Mint;
  }

  .text-3{
    padding-top: 3em;
    font-size: 65px;
    font-family: Modak;
    margin-right: 2em;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: calc(50vh - 100px);
    /* text-shadow: 2px 2px #3c3cbf; */
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(red, rgb(87, 92, 221));
  }

  .button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20%;
    will-change: transform;
    margin-left: 4em;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .about{
    background: url('https://i.pinimg.com/750x/43/3a/bd/433abd90cea7ad1fb56794a3ded53d9f.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    column-count: 2;

    padding-top: 1em;
    margin-left: -250px;
  }
  .logo{
    height: 40em;
    width: 60em;
    margin-top: 10em;
    border: solid rgb(210, 126, 0);
    border-width: 2em;
    border-radius: 10%;
    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}


.button-35 {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  font-family: Inter,sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  outline: none;
  padding: 1rem 1.2rem;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 3em;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}
.desc{
  font-size: 1.75em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 1px;
  text-align: justify;
  margin-right: 2em;
}
.title2{
  padding-top: 1em;
  font-size: 5em;
  margin-right: 2em;
  font-family: Modak;
  margin-left: 2em;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: calc(50vh - 100px);
  /* text-shadow: 2px 2px #3c3cbf; */
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(red, rgb(87, 92, 221));
}