* {
  margin: 0;
  padding: 0;

}
.top{
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 50px;
  /* height: 5vh; */

}


.back {
  background: url(../../assets/image/zzz.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100vh;
}

.off {
  text-align: left;
  padding-left: 1%;
  padding-top: 3%;
  font-family: Bahnschrift;
  font-size: 6rem; /* Use relative units for font size */
  font-weight: bold;
  color: rgb(255, 255, 255);
  width: 43%;
  margin-left: 8%; /* Center the element horizontally */
  text-shadow: 5px 5px 5px black;
}

.off1 {
  color: white;
  text-align: left;
  padding-top: 1%;
  margin-left: 10%;
  font-size: 16px; /* Use relative units for font size */
  font-family: Bahnschrift;
}

.slct {
  text-align: center;
}
.map-container {
  position: relative;
  width: 35%;
  height: 40vh;
  overflow: hidden;
  border: 5%;
    box-shadow: 5px 5px 10px black;
    border-radius: 5%;   
}

.aaa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5%;

}

/* Media query for screens with a maximum width of 768px (typical mobile devices) */
@media (max-width: 768px) {
  .off {
    font-size: 3rem; /* Reduce font size for mobile */
    margin-top: -17%;
  }

  .off1 {
    font-size: 16px; /* Reduce font size for mobile */
  }
  .map-container {
    width: 90%; /* Adjust the width for mobile screens */
    margin-left: 5%;
  }

}

.hays {
font-size: 150%;
color: black;
font-family: Bahnschrift;
margin: 0; /* Reset margin to remove any unwanted spacing */
}

.logo2{
  margin-left: 18em;
  height: 20em;
  width: 20em;
  margin-top: 10em;
  border-radius: 50%;
  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;

}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



h2{
  padding-top: 1%;
  font-size: 350%;
  font-family: Bahnschrift;
  text-align: left;
  flex-direction: column;
}

.text-3{
  margin-bottom: -30px;
  font-size: 12em;
  font-family: Modak;
  margin-left: 180px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px #ffffff23; 
  background-image: linear-gradient(rgb(247, 17, 17),    rgb(3, 11, 255));
}

.button-28 {
  appearance: none;
  background-color: #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: Bahnschrift;
  font-size: 20px;
  line-height: normal;
  margin-left: 10%;
  outline: none;
  padding: 11px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  will-change: transform;

}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: white;
  background-color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  font-weight: bold;
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
.about {
  background: url('../../assets/image/asd.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 1em;
}

.extra {
  border: none;
  margin-top: 8%;
  float: right;
  width: 50%;
  height: auto; /* Change to auto for responsive height */
  padding-right: 5%;
  background-color: rgb(172, 172, 172);
}

.extra:hover {
  background-color: rgb(134, 181, 251);
}
.bg_slider {
  --initialTextColor: #323131;
  --slideTextColor: #272838;

  --initialBgColor: #ffffff;
  --slideBgColor: #787878;

  color: var(--initialTextColor);

  background-image: linear-gradient(90deg,
      var(--initialBgColor) 0%,
      var(--initialBgColor) 50%,
      var(--slideBgColor) 50%,
      var(--slideBgColor) 100%);
  background-size: 400%;
  transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
    color .2s linear;
  transition-delay: 0.0s, 0.15s;
}

.bg_slider:hover {
  color: var(--slideTextColor);
  cursor: pointer;
  background-position: -50% 100%;
}
.title2 {
  padding-top: 1em;
  font-size: 300%; /* Use relative units for font size */
  font-family: Bahnschrift;
  margin-right: 2em;
  margin-left: 1em;
  color: black;
  text-align: right;
}

.logo {
  float: left;
  max-height: 65%; /* Limit the maximum height for responsiveness */
  max-width: 35%; /* Limit the maximum width for responsiveness */
  border-radius: 50%;
  border: solid grey;
  margin-left: 10%;
  margin-top: 2%;
}

.about1 {
  font-size: 400%; /* Use relative units for font size */
  text-align: center;
}

.desc {
  font-size: 150%; /* Use relative units for font size */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 1px;
  text-align: justify;
  margin-right: 1em; /* Adjust margin for responsiveness */
  margin-left: 1em; /* Adjust margin for responsiveness */
}

/* Media query for screens with a maximum width of 768px (typical mobile devices) */
@media (max-width: 768px) {
  .extra {
    width: 100%; /* Make it full width on mobile */
    float: none; /* Remove float on mobile */
    padding-right: 0; /* Remove right padding on mobile */
    background-color: white;
  }

  .title2 {
    font-size: 2rem; /* Reduce font size for mobile */
    margin: 0; /* Reset margins on mobile */
    text-align: center; /* Center text on mobile */
  }

  .logo {
    max-height: 50%; /* Reduce max height for mobile */
    max-width: 50%; /* Reduce max width for mobile */
    margin: 0 auto; /* Center the logo horizontally on mobile */
  }

  .about1 {
    font-size: 2rem; /* Reduce font size for mobile */
  }

  .desc {
    font-size: 1rem; /* Reduce font size for mobile */
    margin: 0.5em; /* Adjust margin for mobile */
  }
}
.button-35 {
background-color: #fc9859;
border-radius: 12px;
box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
box-sizing: border-box;
color: #121212;
cursor: pointer;
font-family: Inter,sans-serif;
font-size: 2rem;
font-weight: 700;
line-height: 1;
outline: none;
padding: 1rem 1.2rem;
text-decoration: none;
transition: box-shadow .2s,-webkit-box-shadow .2s;
border: 0;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
height: 3em;
}

.button-35:hover {
box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.hh{
  font-size: 4em; 
  text-align: center;
}

.kk{
  float: left; 
  height: 65%; 
  width: 35%; 
  border-radius: 50%; 
  border: solid grey; 
  margin-left: 10%; 
  margin-top: 5%;
}
/* Add this CSS at the end of your existing CSS code */
/* Media queries for responsive design */

/* For screens smaller than 768px */
@media (max-width: 768px) {
/* Adjust font size and margin for smaller screens */
.mint {
  font-size: 3em;
  margin-left: 2em;
}

/* Adjust font size and margin for smaller screens */
.text-3 {
  font-size: 40px;
  margin-left: 2em;
}

/* Adjust width and margin for smaller screens */
.button-28 {
  background-color: black;
  width: 20%;
  margin-left: 9%;
  padding: 0;
  color: white;
}
.kk{
  margin-bottom: -15%;
  height: 15%;
  width: 25%;
  border-radius: 50%;
  border: solid grey;
  margin-left: 38%;
  margin-top: 1%;
  float: none;
}

.hh{
  font-size: 3em;
}

.about{
  height: 100vh;
}
.desc {
  font-size: 16px;
  margin-right: 1em;
  margin-left: 1em;
  padding-bottom: 2em;
}

/* Adjust font size and margin for smaller screens */
.title2 {
  font-size: 3em;
  margin-left: 1em;
  margin-top: 10px;
}
.flip-box-front{
  margin-left: 5%;
  background-color: #bbb;
  color: black;
  margin-top: 5%;
  width: 70%;
  height: 70%;
}
.lol{
  height: 90%;
}
.flip-box-inner {

  width: 100%;
  height: 100%;

}
/* Adjust padding for smaller screens */
.back {
  padding: 1em;
  height: 60vh;
}

/* Adjust margin for smaller screens */
.logo2 {
  margin-left: 5em;
}

.desc {

  font-size: 16px;
  margin-right: 2em;
  margin-left: 2em;
  padding-bottom: 1em;
}

/* Adjust font size and margin for even smaller screens */
.title2 {
  font-size: 3em;
  margin-left: 0.5em;
  text-align: center;
}

/* Adjust margin for even smaller screens */
.logo2 {
  margin-left: 2em;
  height: 20%;
  width: 20%;
}
}


#ew{
  padding-left: 20em;
  /* margin-left: 20em; */
  /* background: url('../../assets/image/bub1.png');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  height: 100vh; */
  }

  .title4{
    text-align: center;
    padding-top: 20px;
    font-family: Bahnschrift;
    font-size: 4em;
    color: black;
  }

  .work{
    padding-top: 2%;
    height: 230px;
    width: 230px; 
    border-radius: 50%;
    
  }
  .work1{
    height: 50px;
    width: 50px; 
    
  }
  .process {
    cursor: pointer;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    /* white-space: nowrap; */
    /* word-spacing: 3em; */
    text-align: center;
    font-weight: bold;
    border: none;
    height: 500px;
    width: 250px;
    margin-right: 50px;
    font-family: Bahnschrift;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    margin-bottom: 2em;
    margin-bottom: 5em;
  }

  main {
    display: flex;
    height: 100%;
    margin-left: 18%;
  }
  /* .dropdown {
    position: relative;
    display: inline-block;
  } */
  
  .dropdown > input[type="checkbox"] {
    position: absolute;
    left: -200vw;
  }
  
  .dropdown > label,
  .dropdown > a[role="button"] {
    display: inline-block;
    padding: 6px 15px;
    color: black;
    line-height: 1.5em;
    text-decoration: none;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 70%;
  }
  
  .dropdown > label:hover,
  .dropdown > a[role="button"]:hover,
  .dropdown > a[role="button"]:focus {
    border-color: #333;
  }
  
  .dropdown > label:after,
  .dropdown > a[role="button"]:after {
    content: "\f0d7";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: 6px;
  }
  
  .dropdown > ul {
    position: absolute;
    z-index: 999;
    display: block;
    left: -100vw;
    top: calc(1.5em + 14px);
    border: 1px solid #8c8c8c;
    background: #fff;
    padding: 6px 0;
    margin: 0;
    list-style: none;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.15);
    -moz-box-shadow: 0 3px 8px rgba(0,0,0,.15);
    box-shadow: 0 3px 8px rgba(0,0,0,.15);
  }
  
  .dropdown > ul a {
    display: block;
    padding: 6px 15px;
    text-decoration: none;
    color: #333;
    font-size: 10px;
  }
  
  .dropdown > ul a:hover,
  .dropdown > ul a:focus {
    background: #ececec;
  }
  
  .dropdown > input[type="checkbox"]:checked ~ ul,
  .dropdown > ul:target {
    left: 0;
  }
  
  .dropdown > [type="checkbox"]:checked + label:after,
  .dropdown > ul:target ~ a:after {
    content: "\f0d8";
  }
  
  .dropdown a.close {
    display: none;
  }
  
  .dropdown > ul:target ~ a.close {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    text-indent: -100vw;
    z-index: 1000;
  }


  
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: none;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
  margin-top: 5%;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
  height: 120%;
}

  .header {
    text-align: center;

  }
 
  .ww{
    font-size: 14px;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;    
  }

  .back2 {
    background: url('../../assets/image/minnn.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 60vh;
  }


/* Mobile styles */
@media screen and (max-width: 767px) {
    .back2 {
        height: 125vh; /* Adjust height for mobile phones */
    }
    .flip-box-back{
      margin-left: -5%;
    }
    .column{
      margin-bottom: 5%;
    }
}

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 8px;
    margin-top: 2%;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px; 
  }
  
  .column img {

    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
      margin-top: 3em;
 
  
    }
    .row {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      justify-content: center;
 
      margin-top: -25px ;
    }

    .end{
      text-align: left;
        float: left;
        margin-left: 0%;
        font-size: 16px;
        color: black;
        border-radius: 5px;
      }
  }

  .lol{
    width: 20%;
    height: 120%;
    margin-top: -5%;
  }



/* Common styles for both laptop and mobile */
.contact {
  background-color: rgb(208, 208, 208);
}

.title5 {
  text-align: center;
  font-size: 2em;
  font-family: Bahnschrift;
  padding-top: 20px;
  color: black;
}

.det {
  text-align: center;
  font-size: 15px;
  font-family: Bahnschrift;
  color: black;
}

.hey {
  background: url('../../assets/image/mmm.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
}



.title3 {
  font-size: 4em;
  font-family: Bahnschrift;
  color: black;
  text-align: center;
  padding-top: 1em;
}

.end {
  text-align: left;
  font-size: 16px;
  color: black;
  border-radius: 5px;
}

.end:hover {
  background-color: rgb(194, 194, 194);
  color: black;
}

/* Laptop styles */
@media screen and (min-width: 768px) {
  .end {
      float: left;
      margin-left: 23%;
      margin-right: 3%;

  }
        .title3 {
          font-size: 4em;
          font-family: Bahnschrift;
          color: black;
          text-align: center;
          padding-top: 1em;
        }
      
  
}

/* Mobile styles */
@media screen and (max-width: 767px) {
  .contact {
    background-color: rgb(168, 168, 168);
    margin-top: 5%;
  }

  .end {
      float: none; /* Remove the float for mobile phones */
      margin-left: 75px; /* Adjust margin for mobile phones */
      margin-right: 10px; /* Adjust margin for mobile phones */
      text-align: left;
  }
  .title3 {
    font-size: 3em;
    font-family: Bahnschrift;
    color: black;
    text-align: center;
    padding-top: 10%;
   }   
    .hey{
      height: 110vh;
    }

}

.desc2 {
  margin-right: 20px;
  padding-left: 3em;
  padding-right: 3em;
  color: black;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.ew {
  background: url('../../assets/image/min.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
}




  