<div class="top">
<h1 class="mint">I.M CAFE AND LAUNDROMAT</h1>

</div>

<div class="design">
<br><br><br><br>
</div>

<div class="back" >
    <img class="logo2" src="https://scontent.fceb2-1.fna.fbcdn.net/v/t39.30808-6/285944062_104105002329532_3087723177375662487_n.jpg?_nc_cat=103&cb=99be929b-3346023f&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFJy3HHtB32vHSwolJCXgeU__mV4SgKyyT_-ZXhKArLJCuEgwyPmov_Gk6UlfL9LZQY2sqEnMKibaXJmcH1eH9u&_nc_ohc=AW602ecgz1cAX-o_tkV&_nc_ht=scontent.fceb2-1.fna&oh=00_AfB_pb5GDA3wyxHDwyR_994f_Mn2RpsXZrQ4BgHcpMQHfg&oe=64AE2C71">
<!-- <img class="logo1" src="https://scontent.fceb2-1.fna.fbcdn.net/v/t39.30808-6/285944062_104105002329532_3087723177375662487_n.jpg?_nc_cat=103&cb=99be929b-3346023f&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFJy3HHtB32vHSwolJCXgeU__mV4SgKyyT_-ZXhKArLJCuEgwyPmov_Gk6UlfL9LZQY2sqEnMKibaXJmcH1eH9u&_nc_ohc=AW602ecgz1cAX-o_tkV&_nc_ht=scontent.fceb2-1.fna&oh=00_AfB_pb5GDA3wyxHDwyR_994f_Mn2RpsXZrQ4BgHcpMQHfg&oe=64AE2C71">
<h1 class="title1">I.M Cafe and Laundromat</h1> -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<p class="text text-3">Wash<br>Dry<br>fold</p>
<a routerLink="/sign" *ngIf="this.username == null" class="button-28 " role="button" style="margin-top: 1px; justify-content: center; align-items: center; font-size: 3em;">Login</a>
</div>
<div class="about">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1 class="title2">"Experience the Refreshing Spin: Where Dirty Meets Clean!" </h1><br>
    <p class="desc">
        Welcome to IM Cafe and Laundromat, where convenience and comfort meet in one vibrant space. We are proud to offer a unique fusion of two essential services - a cozy café and a modern laundromat, all under one roof.        
        At IM Cafe and Laundromat, we understand the demands of a fast-paced lifestyle and the need to optimize your time. Whether you're a busy professional, a student on-the-go, or a local resident looking for a place to 
        unwind, our establishment is designed to cater to your diverse needs.<br><br> <button class="button-35" role="button" routerLink="/about">View More</button></p>


    </div>
