
.jumbotron-fluid{
  background-color: rgb(255, 255, 255);
  width: 30em;
  margin-top: 2em;
  padding-top: 1em;
  height: 75%;
  color: rgb(44, 44, 44);
  font-size: 16px;
  margin-bottom: 2em;    
  padding-left: 4%;
  margin-left: 360px;
  border-radius: 10px;
}
.log{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  margin-left: 15em;
}
h4{
  font-size: 18px;
  font-weight: bold;
}
label{
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: 500;
}
input{
  padding-left: 1%;
  border-radius: 5px;
  border-color: rgb(43, 43, 43);
  height: 40px;
  width: 300px;
  font-size: 15px;
  color: black;
  background-color: rgb(235, 233, 233);
}
.buttn{
  margin-top: 5px;
  margin-left: 5px;
  border-color: white;   
  appearance: none;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 15px;
  font-weight: bold;
  min-height: 30px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
}
.buttn:hover{
  background-color: black;
  color: white;
}
.butt{
  border-color: white;   
  margin-top: 5px;
  appearance: none;  
  background-color: rgb(111, 190, 255);
  border-radius: 8px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 15px;
  font-weight: bold;
  line-height: normal;
  min-height: 30px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
  margin-left: 5px;
}      
.butt:disabled {
  pointer-events: none;
}      
.butt:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border: solid black
}      
.butt:active {
  box-shadow: none;
  transform: translateY(0);
}
h1{
  padding-top: 7px;
  font-size: 4em;
  color: black;
  padding-left: 70px;
}
.bod1{
  column-count: 2;
}
.icon-container {
  position: relative;
  display: inline-block;
}
.icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  background-color: #f00; /* Set your desired background color for the icon */
  color: #fff; /* Set your desired text color for the icon */
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  cursor: pointer;
}
.tooltip {
  position: absolute;
  top: 0; /* Adjust the distance between the icon and tooltip as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333; /* Set your desired background color for the tooltip */
  color: #fff; /* Set your desired text color for the tooltip */
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s;
  text-align: center; 
}

.icon-container:hover .tooltip {
  opacity: 1;
}
.container{
  margin-bottom: 0;
  padding-bottom: 0;
}
.vv{
  background: url(../../assets/image/cc.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .jumbotron-fluid{
    height: 60%;
  }
  h4{
    text-align: center;
    padding: 0;
  }
  .buttn{
    margin-left: 6%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  h1{
    text-align: center;
    padding: 0;
    font-size: 30px;
    padding-top: 4%;
  }
  .jumbotron {
  width: 95%;
  margin-left: 3%;
  }
  .butt {
  margin-left: 6%;
  }
  label {
  text-align: center; /* Center-align labels */
  }
  input{
    padding-left: 1%;
  width: 200px;
  background-color: rgb(236, 236, 236);
  }
  .vv{
    height: 115vh;
   }
  }

