
.jumbotron-fluid{
    background-color: rgba(175, 89, 2, 0.824);
    width: 60em;
padding-bottom: 0;
    padding-top: 1em;
    height: 95%;
    color: rgba(255, 255, 255, 0.694);
    margin-bottom: 2em;
  ;
    
}
.log{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  margin-left: 15em;


}
label{
    font-size: 1.5em;
    color: rgb(212, 212, 212);
}
input{
    border-radius: 5px;
    border-color: white;
    height: 40px;
    width: 450px;
    font-size: 15px;
    color: black;
    background-color: rgb(255, 255, 255);
    

}
.buttn{
    margin-top: 5px;
    margin-left: 5px;
    border-color: white;   
        appearance: none;
        background-color: white;
        border-radius: 8px;
        box-sizing: border-box;
        color: #000000;
        cursor: pointer;
        display: inline-block;
        font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 15px;
        font-weight: bold;
        min-height: 30px;
        min-width: 0;
        outline: none;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 20%;
        will-change: transform;

}
.butt{
    border-color: white;   
    margin-top: 5px;
        appearance: none;
        background-color: white;
        border-radius: 8px;
        box-sizing: border-box;
        color: #3B3B3B;
        cursor: pointer;
        display: inline-block;
        font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 15px;
        font-weight: bold;
        line-height: normal;
        min-height: 30px;
        min-width: 0;
        outline: none;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 20%;
        will-change: transform;
        margin-left: 24em;
      }
      
      .butt:disabled {
        pointer-events: none;
      }
      
      .butt:hover {
        color: #fff;
        background-color: #1A1A1A;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
        border: solid black
      }
      
      .butt:active {
        box-shadow: none;
        transform: translateY(0);
      }
.bod1{
column-count: 2;

}
h1{
  font-size: 5em;
  color: white;
}
@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
.mint{
  /* color: rgb(0, 78, 212); */
  font-size: 5em;
  font-family: 'Rocher';
  font-weight: bolder;
  margin-left: 2em;
  flex-direction: column;
  margin-top: 15px;
  
}

@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}

.mint {
  font-palette: --Mint;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  background-color: #f00; /* Set your desired background color for the icon */
  color: #fff; /* Set your desired text color for the icon */
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: 0; /* Adjust the distance between the icon and tooltip as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333; /* Set your desired background color for the tooltip */
  color: #fff; /* Set your desired text color for the tooltip */
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s;
  text-align: center; 
  width: 200px;
}

.icon-container:hover .tooltip {
  opacity: 1;
}
.container{
margin-bottom: 0;
padding-bottom: 0;
}
@media screen and (max-width: 768px) {
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.jumbotron {
    width: 100%;
    margin-left: 0;
}

.butt {
    margin-left: 0;
}

label {
    text-align: center; /* Center-align labels */
}

input[type="text"],
input[type="number"] {
    width: 100%; /* Make input fields full width */
}
  }
